<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
</head>
<body>

   <header class="bgimage">
        <div class="container">
            <h1>DEVOTIONAL SONGS</h1>
            <h2>Prayers + Actions = Services To The Almighty</h2>
        </div>
    </header>

    <div class="jumbotron jumbotron-billboard" style="padding:0;">


        <!--Who are Dasas-->

         <!-- <div class="row" style="padding:0;">-->

          
       <a href="/" class="btn btn-dark btn-lg" id="signup" style="width:120px;height:50px;margin-left:20px;margin-right:10px;margin-top:10px;color:white"> Home</a>
         <a href="/login" class="btn btn-dark btn-lg" id="signup" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Login</a>
        <a href="/yoursong" class="btn btn-dark btn-lg" id="signup" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Your Song</a>
        <a href="/songs" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Song List</a>
        <a href="/aboutus" class="btn btn-dark btn-lg" id="aboutus" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> About Us</a>
         <a href="/spiritualgurus" class="btn btn-dark btn-lg" id="aboutus" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Gurus</a>
        <a href="/sign" class="btn btn-dark btn-lg" id="sign" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Sign Up</a>
        <a href="/contact" class="btn btn-dark btn-lg" id="contactus" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Contact Us</a>



        <div class="row" style="margin-left:20px;padding:0;" id="aboutuspage">

            <h3 style="text-align:center">Who are we?</h3>
        <p >We are a bunch of cool geeks who love devotional songs, classical Indian and the classical Western music. I have also listed the prominent devotees and their life stories and struggles. This made me stronger as a person in terms of character and devotion.

        The Bhakti movement in India led to various compositions and different kinds of music evolved to help the common man understand the essence of life and give him freedom from the world of desires. Understanding the meaning of the song helps us in leading a pious, disciplined and dogmatic life. </p>
        <div style="margin-left:100px">
        <h3 style="text-align:center">Thanks Section</h3>
        <p>Special Thanks to Shruti Mundewadi, for taking time out and reading and helping me revise the content as and when needed.</p>
        
    <p style="text-align:center">Already have an account? <b><a href="/login">Login</a></b></p>
            <p style="text-align:center">Or go <b><a href="/">home</a> page</b></p>
            </form>
            </div>
        </div>

  </div>

 <footer class="container-fluid bg-4 text-center" style="background:red;color:white;padding:20px;bottom:0;margin-bottom:0px;">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>
</body>

</html>
