<!DOCTYPE>
<html>

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Citta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>



  <div id="page">

        <header>
                
                <div id="svg">
                <h1>Inflection Point</h1>
                <p>A practical guide to growth</p>
               </div>
                 <div class="hero"> 
                  <h2>Citta -- Holistic App</h2>
                 <a class="btn1" href="#">Rejuvenate <span>and Re-energize</span></a>

            </div>

        </header>



   <div class="jumbotron jumbotron-billboard" style="padding:0;height:100%">

        <!--Who are Dasas-->
        <div style="margin-left:20px">
        
        
            <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <% if(user.google.email) { %>
                            <b><%=user.google.email%></b>
                             <% } %>

                              <% if(user.facebook.email) { %>
                            <b><%=user.facebook.email%></b>
                             <% } %>

                               <% if(user.local.email) { %>
                            <b><%=user.local.email%></b>
                             <% } %>
                        </p>
                   
              </nav>
            </div>
               

             <div class="row" style="margin-left:20px;padding:0;" id="thanks">
               <!-- <div class="col-sm-3"  style="text-align:left;padding:45px">-->
                    <ul  class="sidelist">
                          <li><a  href="/mywelcomepage" class="btn btn-dark btn-lg"  style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white;margin-bottom:10px">Home</a> </li> 
                          
                           <li> <a href="/connect2careercoaches" class="btn btn-info btn-lg" id="counsellors" style="margin-bottom:10px;width:300px;overflow:hidden">Career Coaches </a></li>
                            <li> <a href="/connect2therapist" class="btn btn-info btn-lg" id="counsellors" style="margin-bottom:10px;width:300px;overflow:hidden">Life Coaches </a></li>
                             <li> <a href="/connect2therapist" class="btn btn-info btn-lg" id="counsellors" style="margin-bottom:10px;width:300px;overflow:hidden">Physical Fitness Coaches</a></li>
                              <li> <a href="/connect2careercoaches" class="btn btn-info btn-lg" id="counsellors" style="margin-bottom:10px;width:300px;overflow:hidden">College Admission Counselling </a></li>
                              <li> <a href="/connect2therapist" class="btn btn-info btn-lg" id="counsellors" style="margin-bottom:10px;width:300px;overflow:hidden">General Experts</a></li>
                               </ul>
                       <div class="col-sm-9" >
                        <h3 style="text-align:center;margin-top:30px">Find the coach for you </h3>
                        <div>
                            <h3>Career Coaches</h3>
                          <p>When you’re in the midst of a mid-career crisis or professional reinvention, the right career coach can be a lifesaver, helping you identify potential future directions and the path to reach them. But how do you find the right one? As an unregulated industry, anyone can hang a shingle and declare themselves a “career coach,” an “executive coach,” or even a “life coach.” 
                            We help you find the  list of career coach with the right credentials </p>
                        </div>

                        <div>
                          <h3>Life Coaches</h3>
                          <p>Life coaching is a synergistic relationship between an accredited life coach and a client designed to tap into your full potential</p>
                          <p>Coaches have the ability to view things from afar — in what some call ‘helicopter vision’ — and to shed new light on difficult situations. Often they can act as a sounding board through tough decisions, help sharpen skills, and motivate -- CFO Magazine</p>
                        </div>

                         <div>
                          <h3>Physical Fitness Coaches</h3>
                          <p>A fitness coach must have a natural passion for, and aptitude in exercise and health. They are typically people that are genuinely interested in the health and wellness of other people. Those that become fitness coaches have a varied skill set that helps them understand what a client’s current level of fitness is, what their goals are, and how to help them accomplish those goals.</p>
                          <p>We help you find the  list of career fitness coaches with the right credentials who can provide the required training.</p>
                        </div>

                        <div>
                          <h3>General Experts</h3>
                          <p>General Experts are trained in any of the above , through various life experience and training and are ready to share their piece of information and guide you to the next level. Posting questions in this forum gives the flexibility for anyone with the right knowledge to come forward to guide you.</p>
                          <p></p>
                        </div>

                </div>
                   


              </div>

            </div>
                   <footer class="footer"  style="height:80px;">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>