<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
</head>
<body>
  <div id="page">


     <header >
        <div class="row"  >
                <a href="/quotesForYou" class="homebutton">Home</a>  
              
               <p class="headingContent">  Citta - A practical guide to growth  </p> 
              <div class="row">
               <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
              <p style="text-align:right;font-size:12px;margin-right:2%;"> <% if(user.google.email) { %>
                            <%=user.google.email%>
                             <% } %>

                              <% if(user.facebook.email) { %>
                           <%=user.facebook.email%>
                             <% } %>

                               <% if(user.local.email) { %>
                          <%=user.local.email%>
                             <% } %></p>
              </div>
        </div>

    </header>


 
  <!-- <div class="jumbotron jumbotron-billboard" style="padding:0;">-->
             <div class="row" >
                 <div class="col-sm-2" style="margin-left:2%">
                    <ul  class="sidelist">
                       <li class="active"> <a class="btn btn-info  btn1"   href="/yourdiary">Your daily diary</a></li>
                        <li> <a class="btn btn-info  btn1" href="/dailyroutine"> Your daily routine</a></li>
                       <li> <a class="btn btn-info  btn1"  href="/chat"> Want to talk</a></li>
                       <li> <a href="/spiritualbooks" class="btn btn-info  btn1" >Spiritual Books</a>  </li> 
                       <li><a href="/spiritualtalks" class="btn btn-info  btn1" >Spiritual Talks</a>  </li>
                       <li><a href="/guidedtours" class="btn btn-info  btn1" >Events</a>  </li>
                    </ul>
              </div>
             
                 <div class="col-sm-8" >
                   
                      <h3> Your daily routine-</h3>
                      
                      <p>Goood Morning buddy! It's the best morning you have started out</p>

                      <p>I am planning your routine, if you don't have one in mind</p>

                      <p>Drink a glass of warm water, if you can drink, drink a litre of water</p>

                       <p>Breathe in and out when ever you can, relax</p>

                      <p>Stretch your hands , hands , legs as much as you can </p>

                       <p>Wanna Read some news?? Whats happening local and international</p>

                       <p>Don't forget your walks, you can't walk, don't worry, sit in a place and stretch, if you can walk , step out and go for your walk, Come back and tell us what you saw</p>

                       <p>Do you have your medicines to be taken?  Did you take them , Tell us what you did ?</p>

                        <p>Do you have to pay your bills, if so what bills you have to pay, tell us and we can send you reminders</p>

                        <p>Are you worried about something, tell us and we can help you sort out the matter</p>

                        <p>Eat healthy</p>

                        <p>Sleep well</p>
                     
                      <!-- </div>-->
                   
                </div>
           

            </div>
          <!--</div>-->
            <div class="push" ></div>
              <footer class="container-fluid text-center footerContent" >
       <p id="footerp">  <span class="glyphicon glyphicon-copyright-mark"> </span> Citta 2020</p> 
      </footer> 
</body>
</html>