<!DOCTYPE>
<html>

<head>
    <title>Citta</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Fondamento|Pacifico|Ruthie&display=swap" rel="stylesheet">
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
        
</head>
<body>


   <header >
        <div class="row"  >
                <a href="/thanks" class="homebutton">Home</a>  
               <p class="headingContent">  Citta - A practical guide to growth  </p> 
              <div class="row">
               <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
              <p style="text-align:right;font-size:12px;margin-right:2%;"> <% if(user.google.email) { %>
                            <%=user.google.email%>
                             <% } %>

                              <% if(user.facebook.email) { %>
                           <%=user.facebook.email%>
                             <% } %>

                               <% if(user.local.email) { %>
                          <%=user.local.email%>
                             <% } %></p>
              </div>
        </div>

    </header>


  <!-- <div class="jumbotron jumbotron-billboard" style="padding:0;">-->

        <!--Who are Dasas-->

              <div class="row" >
                <section class="col-md-2"  >
               <div >
                    <ul  class="sidelist">
                       <!-- <li> <a class="linkbutton" href="/dailyevents" > Daily Events</a></li>-->
                       <li> <a class="btn btn-info  btn1" href="/todoList"> My To Do List</a></li>
                    </ul>
                    
                </div>
              </section>
              
                <section class="col-sm-8">
                    

               <div class="userdayevents" >
                    
                        <div class="userdetails-form" >
                         
                        <!--    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>-->
                            <form action="/userdailyplanner" method="post" >
                                <label class="diarylabel"> Daily Planner <span id="date" class="datelabel" >   </span></label>
                                                 <table class="table table-bordered" id="myTable" style="width:800px;" >
                        <thead>
                            <tr>
                                <th style="text-align:center">
                                   <h5></h5><p>Time</p> 
                                </th>
                                <th style="text-align:center">
                                   <h5></h5><p>Activity</p> 
                                </th>
                                 <th style="text-align:center">
                                   <h5></h5><p>Time</p> 
                                </th>
                                <th style="text-align:center">
                                   <h5></h5><p>Activity</p> 
                                </th>
                               
                            </tr>


                        </thead>
                        <tbody>
                          <tr>
                            <td>
                                <div class="form-group">
                                    <input type="text" name="four" id="four" style="text-align:center" class="form-control" placeholder="4-5" value="4am-5am" required="required">
                                </div>
                                </td>
                                 <td> <div class="form-group">
                                  <textarea class="form-control" rows="5" name="activity1" id="activity1"></textarea>
                                   
                                </div>
                                 </td>

                                 <td>
                                <div class="form-group">
                                    <input type="text" name="twelve" id="twelve" style="text-align:center" class="form-control" placeholder="12-1" value="12pm-1pm" required="required">
                                </div>
                                </td>
                                 <td> <div class="form-group">
                                   <textarea class="form-control" rows="5" name="activity9" id="activity9"></textarea>
                                </div>
                                 </td>
                                 </tr>
                                 <tr>
                                    <td>
                                        <div class="form-group">
                                   <input type="text" name="five" id="five" style="text-align:center" class="form-control" placeholder="5-6" value="5am-6am" required="required">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                         <textarea class="form-control" rows="5" name="activity2" id="activity2"></textarea>
                                   
                                      </div>
                                    </td>

                                     <td>
                                        <div class="form-group">
                                   <input type="text" name="onepm" id="onepm" style="text-align:center" class="form-control" placeholder="1-2" value="1pm-2pm" required="required">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                         <textarea class="form-control" rows="5" name="activity10" id="activity10"></textarea>
                                    
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        <div class="form-group">
                                    <input type="text" name="six" id="six"  style="text-align:center" class="form-control" placeholder="6-7" value="6am-7am">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                         <textarea class="form-control" rows="5" name="activity3" id="activity3"></textarea>
                                      </div>
                                    </td>
                                     <td>
                                        <div class="form-group">
                                    <input type="text" name="twopm" id="twopm"  style="text-align:center" class="form-control" placeholder="2-3" value="2pm-3pm">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                         <textarea class="form-control" rows="5" name="activity11" id="activity11"></textarea>
                                  
                                      </div>
                                    </td> 

                                  </tr>

                                 <tr>
                                    <td>
                                        <div class="form-group">
                                    <input type="text" name="seven" id="seven"  style="text-align:center" class="form-control" placeholder="7-8" value="7am-8am">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                         <textarea class="form-control" rows="5" name="activity4" id="activity4"></textarea>
                                      </div>
                                      </div>
                                    </td>

                                    <td>
                                        <div class="form-group">
                                    <input type="text" name="threepm" id="threepm"  style="text-align:center" class="form-control" placeholder="3-4" value="3pm-4pm">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                         <textarea class="form-control" rows="5" name="activity12" id="activity12"></textarea>
                                   
                                      </div>
                                      </div>
                                    </td>
                                  </tr>




                                  <tr>
                                    <td>
                                        <div class="form-group">
                                    <input type="text" name="eight" id="eight"  style="text-align:center" class="form-control" placeholder="8-9" value="8am-9am">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                        <textarea class="form-control" rows="5" name="activity5" id="activity5"></textarea>
                                      </div>
                                    </td>

                                    <td>
                                        <div class="form-group">
                                    <input type="text" name="eight" id="eight"  style="text-align:center" class="form-control" placeholder="4-5" value="4pm-5pm">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                        <textarea class="form-control" rows="5" name="activity13" id="activity13"></textarea>
                                  
                                      </div>
                                    </td>
                                  </tr>



                                  <tr>
                                    <td>
                                        <div class="form-group">
                                    <input type="text" name="nine" id="nine"  style="text-align:center" class="form-control" placeholder="8-9" value="9am-10am">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                        <textarea class="form-control" rows="5" name="activity6" id="activity6"></textarea>
                                      </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                    <input type="text" name="nine" id="nine"  style="text-align:center" class="form-control" placeholder="5-6" value="5pm-6pm">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                        <textarea class="form-control" rows="5" name="activity14" id="activity14"></textarea>
                                   
                                      </div>
                                    </td>
                                  </tr>




                                  <tr>
                                    <td>
                                        <div class="form-group">
                                    <input type="text" name="ten" id="ten"  style="text-align:center" class="form-control" placeholder="8-9" value="10am-11am">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                        <textarea class="form-control" rows="5" name="activity7" id="activity7"></textarea>
                                   
                                      </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                    <input type="text" name="ten" id="ten"  style="text-align:center" class="form-control" placeholder="6-7" value="6pm-7pm">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                          <textarea class="form-control" rows="5" name="activity15" id="activity15"></textarea>
                                   
                                      </div>
                                    </td>
                                  </tr>



                                  <tr>
                                    <td>
                                        <div class="form-group">
                                    <input type="text" name="eleven" id="eleven"  style="text-align:center" class="form-control" placeholder="11-21" value="11am-12pm">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                        <textarea class="form-control" rows="5" name="activity8" id="activity8"></textarea>
                                    
                                      </div>
                                    </td>
                                     <td>
                                        <div class="form-group">
                                    <input type="text" name="eleven" id="eleven"  style="text-align:center" class="form-control" placeholder="7-8" value="7pm-8pm">
                                </div>
                                    </td>
                                      <td> <div class="form-group">
                                         <textarea class="form-control" rows="5" name="activity16" id="activity16"></textarea>
                                   
                                      </div>
                                    </td>
                                  </tr>
                             
                        </tbody>
                    </table>

                              
                               

                                 
                                  <div>
                                    
                                    <button type="submit" id="dailyplanner" class="btn btn-dark btn-lg" style="width:120px;height:50px;margin-left:40px;margin-top:10px;margin-bottom:25px;color:black">Submit</button>
                                </div>
                            </form>
                        </div>
                    
                </div>

                
           </section>

            

                </div>

    <div class="push1"  style="height:500px"></div>

<script type="text/javascript">

n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = m + "/" + d + "/" + y;

</script>
           
        </div>
        <div></div>
               <footer class="container-fluid text-center footerContent">
       <p id="footerp">  <span class="glyphicon glyphicon-copyright-mark"> </span> Citta 2020</p> 
 </footer>   
</body>
</html>