<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
</head>
<body>

   <header >
        <div class="container">
            <h1>My Daily Routine</h1>
          
        </div>

    </header>


   <div class="jumbotron jumbotron-billboard" style="padding:0;">

        <!--Who are Dasas-->
        <div style="margin-left:20px">
         <!-- <div class="row" style="padding:0;">-->
        <a href="/mysonglist" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Song List</a>   
         <!-- <a href="/spiritualgurus" class="btn btn-dark btn-lg" id="sgurus" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Gurus</a>-->
          <a href="/spiritualtalks" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Talks</a>
        <a href="/spiritualbooks" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Books</a>
        <a href="/guidedtours" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Events </a>
        
            <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <b><%=user.username%></b>
                        </p>
                   
              </nav>
            </div>
               

             <div class="row" style="margin-left:20px;padding:0;" id="thanks">
                <section class="col-sm-3"  style="text-align:left;padding:45px">
                    <ul  class="sidelist">
                       <li class="active"> <a href="/yourself">More about yourself</a></li>
                        <li> <a href="/dailyroutine"> Your daily routine</a></li>
                       <li> <a href="/chat"> Want to talk</a></li>
                    </ul>
              </section>
             
             
                <section class="col-sm-9" style="text-align:left;padding:45px">
                 
                   <!--<div style="margin-left:20px;background:#EFF2FA;">-->
                  
                     
                      <h3> Your daily routine-</h3>
                      
                      <p>Goood Morning buddy! It's the best morning you have started out</p>

                      <p>I am planning your routine, if you don't have one in mind</p>

                      <p>Drink a glass of warm water, if you can drink, drink a litre of water</p>

                       <p>Breathe in and out when ever you can, relax</p>

                      <p>Stretch your hands , hands , legs as much as you can </p>

                       <p>Wanna Read some news?? Whats happening local and international</p>

                       <p>Don't forget your walks, you can't walk, don't worry, sit in a place and stretch, if you can walk , step out and go for your walk, Come back and tell us what you saw</p>

                       <p>Do you have your medicines to be taken?  Did you take them , Tell us what you did ?</p>

                        <p>Do you have to pay your bills, if so what bills you have to pay, tell us and we can send you reminders</p>

                        <p>Are you worried about something, tell us and we can help you sort out the matter</p>

                        <p>Eat healthy</p>

                        <p>Sleep well</p>
                     
                      <!-- </div>-->
                   
                </section>
           

            </div>
            <div class="push" ></div>
             <footer class="container-fluid bg-4 text-center footer" >
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>