<!DOCTYPE>
<html>

<head>
    <title>Yeda</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
</head>
<body>


  <header >
        <div class="row"  >
                <a href="/dailyroutine" class="btn btn-dark btn-lg homebutton" >Home</a>  
              <p style="margin-left:auto; margin-right:auto;text-align:center;">  Yeda-A practical guide to growth </p> 
              <div class="row">
               <a  id="logout" class="logout" href="/logout">logout</a>
              <p style="text-align:right;font-size:12px;margin-right:2%;"> <% if(user.google.email) { %>
                            <%=user.google.email%>
                             <% } %>

                              <% if(user.facebook.email) { %>
                           <%=user.facebook.email%>
                             <% } %>

                               <% if(user.local.email) { %>
                          <%=user.local.email%>
                             <% } %></p>
              </div>
        </div>

    </header>

  <!-- <div class="jumbotron jumbotron-billboard" style="padding:0;">-->

    
                  <div  class="headingContent">   
                    <h1 >Guided Tours</h1>
                  </div>
                <div class="contentDescription" > <p>A break from your routine to help you get away from the mundane life . We team up with guided tour packages to help you find your vacation time to a near by place.  </p> 
                  <p>Guided Tours Coming Soon! </p>
                 </div>
                <div class="push1"  style="height:500px"></div>


      <footer class="container-fluid text-center" style="position:fixed;margin-top:3%;bottom:0;background-color:#4b0000;width:100%;height:3%;color:ghostwhite;">
       <p id="footerp">  <span class="glyphicon glyphicon-copyright-mark"> </span> Yeda 2020</p> 
      </footer>
</body>
</html>