<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>

</head>

<body>

    <header class="bgimage">
        <div class="container">
            <h1>DEVOTIONAL SONGS</h1>
            <h2>Prayers + Actions = Services To The Almighty</h2>
        </div>

    </header>



    <div class="jumbotron jumbotron-billboard" style="padding:0;">


        <!--Who are Dasas-->

         <!-- <div class="row" style="padding:0;">-->

        <a href="/" class="btn  btn-lg" id="signup" style="width:120px;height:50px;background-color:blue;margin-left:20px;margin-right:10px;margin-top:10px;color:white"> Home</a>
         <a href="/login" class="btn  btn-lg" id="signup" style="width:120px;height:50px;background-color:purple;margin-right:10px;margin-top:10px;color:white"> Login</a>
        <a href="/yoursong" class="btn  btn-lg" id="signup" style="width:120px;height:50px;background-color:green;margin-right:10px;margin-top:10px;color:white"> Your Song</a>
        <a href="/songs" class="btn  btn-lg" id="songs" style="width:120px;height:50px;background-color:red;margin-right:10px;margin-top:10px;color:white">Song List</a>
         <a href="/aboutus" class="btn  btn-lg" id="aboutus" style="width:120px;height:50px;background-color:blue;margin-right:10px;margin-top:10px;color:white"> About Us</a>
        <a href="/sign" class="btn  btn-lg" id="sign" style="width:120px;height:50px;background-color:purple;margin-right:10px;margin-top:10px;color:white"> Sign Up</a>
        <a href="/contact" class="btn btn-lg" id="contactus" style="width:120px;height:50px;background-color:black;margin-right:10px;margin-top:10px;color:white">Contact Us</a>




        <br>
          <b style="margin-left:20px;padding:0;">NOTE : ALL THE DATA AND AUDIO HAS BEEN GRABBED FROM 3rd PARTY WEB-SITES  </b>
      <!--</div>-->

                  

      

        <div class="row" style="margin-left:20px;padding:0;" id="mainpage">
            <h3>Akashat Patitam Toyam Yatha Gacchati Sagaram |<br>
                            Sarva Deva Namaskaram Keshavam PratiGacchati ||</h3>
                      
                            <p>
                               
                               
                                     Literal meaning:
                                <br> As all the raindrops falling from the sky ultimately meet their end in the ocean, the worship of any divine God ultimately reach the one Supreme Lord.
                            </p>


                           
            <h3>Who are Dasas?</h3>
            <p>
                The present day usage of Dasa in Hinduism has respectful connotation. It always means "devotee or servant or slave of god.". In the past, many saints from all castes added it in their names, signifying their total devotion to god. An example is Mohandas Gandhi. Another example is Surdas, the blind Brahmin poet. Few dasas are mentioned below are prominent ones in the history of India.
            </p>
            <p>Dasas are Dvaita scholars and poets.Dasa Sahitya (Kannada: ದಾಸ ಸಾಹಿತ್ಯ) is the literature of bhakti movement composed by devotees in honor of Lord Vishnu or one of his Avatars. Dasa is literally servant in Kannada and sahitya is literature. Haridasas ("servants of God") were preachers of bhakti to Lord Vishnu or one of his avatars. The bhakti literature of these Haridasas is collectively referred to as Dasa Sahitya. It is in the Kannada language.</p>

            <p>The Dasa Sahitya Project propagates and popularises the literature of the saint composers of Karnataka, popularly known as Karnataka Haridasas, who enriched Kannada religious literature with their hymns. Karnataka Haridasas who brought the esoteric Vedas, Upanishads and Puranas within the reach of the common man in lyrical form in simple Kannada, composed thousands of hymns in praise of Lord Sri Venkateswara, thus preaching devotion of God. Purandaradasa, Kanakadasa, Vijayadasa, Sripadaraja, Vyasaraja, Vadiraja, Gopaladasa and Jagannathadasa were some of the luminaries in the galaxy of Karnataka Haridasas who treaded the path of dualism paved by Sri Madhwacharya. This lineage of Karnataka Haridasas has produced around 400 saint-composers The Dasa Sahitya Project aims at acquainting people with the lives and teachings of Karnataka Haridasas; spirituality, righteousness and morals preached by them, thus inculcating devotion in general and devotion to Lord Sri Venkateswara in particular. </p>

            <h3>Who is a Guru?</h3>
            <p>Guru, (Sanskrit: “venerable”) in Hinduism, a personal spiritual teacher or guide. From at least the mid-1st millennium BCE, when the Upanishads (speculative commentaries on the Vedas, the revealed scriptures of Hinduism) were composed, India has stressed the importance of the tutorial method in religious instruction. In the educational system of ancient India, knowledge of the Vedas was personally transmitted through oral teachings from the guru to his pupil (pupils were always male in that period). Classically, the pupil lived at the home of his guru and served him with obedience and devotion.</p>

            <p>Later, with the rise of the bhakti movement, which stressed devotion to a personalized deity, the guru was venerated as the leader or founder of any of a number of sects (many of which now included women and some of which had women gurus). The guru was also considered to be the living embodiment of the spiritual truth professed by the sect and thus was identified with the deity. In at least one sect, the Vallabhacharya, the devotee was instructed to offer mind, body, and property to the guru. The tradition of willing service and obedience to the guru is still observed. The guru is frequently treated with the same respect paid the deity during worship, and the guru’s birthday is celebrated by his followers as a festival day.</p>

            <p>Religious self-instruction is considered inefficacious. It is the guru who prescribes spiritual disciplines and who, at the time of initiation, instructs the student in the use of the mantra (sacred formula) to assist in meditation. The example of the guru who, though human, has achieved spiritual enlightenment leads the devotee to discover the same potentialities within himself.</p>
        </div>
        <!--Images-->
        <div class="row " style="margin-top:100px" id="mainpics">

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/GRaghavendraSwamy.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Guru Raghavendra Swamy</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/Gnanak.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Guru Nanak</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/Shri_Madhvacharya.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Sri Madhvacharya</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>


            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/shankaracharya_new.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Shankaracharya</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
              <div class="imagebox"> 
                <a href="/pd1">
                <img class="img-responsive"  src="images/pd1.jpg" alt="Icon" style="width:250px;height:250px;">
                </a>
                 </div>
                <p>Purandara dasa</p>
                <p>
                    <button type="info" data-toggle="modal" data-target="#pd1"class="btn btn-info">Read More</button>
                </p>
            </section>
            
            <div class="modal fade" id="pd1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="position:absolute;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Purandara Dasa</h4>
        </div>
        <div class="modal-body">
          <p>Purandara Dasa (ಪುರಂದರ ದಾಸ) was a Haridasa, a great devotee of Lord Krishna. He was a singer and composer of many songs on Madhwa philosophy. Purandara Dasa was pioneers of Dasa Sahithya, which is a Bhakti movement and propagated Hari Sarvottama and Vayu Jeevottamatva though his 475,000 keerthanas (songs). He wrote all his compositions with Ankita "Purandara Vittala". He is as an avatara (incarnation) of the great sage Narada.
            His Guru, Sri Vyasatirtha himself glorified Purandara Dasa in a song thus: Dāsarendare purandara dāsarayya (ದಾಸರೆಂದರೆ ಪುರಂದರ ದಾಸರಯ್ಯ). </p>
            <p>Brief Story:
                Before becoming Haridasa, Purandara Dasa was a wealthy diamond merchant. His name was Srinivasa Nayaka and everyone used to call him Navakoti Narayana as he was very rich worth of ninety millions. His parents are Varadappa Nayaka and Leelavathi. He was born around year 1484  in Kshemapura, near Tirthahalli, Shivamogga district, Karnataka state from Karnataka. He received good education and became proficient in caranatic music, Kannada and Sanskrit languages. 
                One day Lord Krishna approached Srinivasa in the guise of a poor man to request for money to perform upanayanam (sacred thread ceremony) to his son. For which, Srinivasa mocked and rejected him without offering any money. Therefor to bring change in him, Lord approached Srinivasa's wife, Saraswathi who is a pious and spiritual person,she gave her precious nose rings.
                Lord Krishna then met Srinivasa to exchange the nose ring with money. But the shrewd Srinivasa immediately identified the nose ring as his wife's and hurried home anxiously to ascertain the truth of the matter, he demanded his wife to show him the nose ring immediately. Realizing that Srinivasa got to know about her secret donation, the wife decided to end her life with poison. She prayed Lord before drinking poison, she was shocked to see a nose ring inside the poison cup. With blissful happiness she elucidated the entire episode to her husband, who was bewildered. 
                The entire episode brought change in Srinivasa Nayaka, who gave away all his material riches to become a Haridasa, a devotional singer. He became disciple of Madhwa Saint Shri Vyasatirtha. He is contemporary of Kanakadasaru and has inspired many people like Vijaya dasaru, Gopala Dasaru and so on. He died in 1564 at the age of 80.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>


             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                <a href="views/contact.ejs">
                <img class="img-responsive" src="images/kd1.jpeg" alt="Icon" style="width:250px;height:250px;">
                  </a>
                 </div>
                <p>Kanakadasa</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/gopal_p.jpg" alt="Icon" style="width:250px;height:250px;">
               
                 </div>
                <p>Gopal Dasaru</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/jagganath-dasa.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Sri Jagannath Dasa</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>


             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">          
                     <img class="img-responsive" src="images/pvenkat.jpg" alt="Icon" style="width:250px;height:250px;">
                     
                 </div>

                <p>Prasanna Venkata Dasa</p>
                  <p>
                      <button type="info" class="btn btn-info">Read More</button>
                  </p>
            
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">
                  <img class="img-responsive" src="images/vidasa.jpg" alt="Icon" style="width:250px;height:250px;">
                 
               </div>
                <p>Vijaya Dasa</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">
                <img class="img-responsive" src="images/dnyaneshwar.jpg" alt="Icon" style="width:250px;height:250px;">
              </div>
                <p>Dyaneshwar</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
              <div class="imagebox">
                <img class="img-responsive" src="images/tukaram.jpg" alt="Icon" style="width:250px;height:250px;">
              </div>
                <p>Tukaram</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">
                <img class="img-responsive" src="images/APS.jpg" alt="Icon" style="width:250px;height:250px;">
              </div>
                <p>Allama Prabhu</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">
                <img class="img-responsive" src="images/tdasa.jpg" alt="Icon" style="width:250px;height:250px;">
              </div>
                <p>TulsiDasa</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">
                <img class="img-responsive" src="images/Surdas.jpg" alt="Icon" style="width:250px;height:250px;">
              </div>
                <p>Surdas</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">
                <img class="img-responsive" src="images/Thyagaraja.jpg" alt="Icon" style="width:250px;height:250px;">
              </div>
                <p>Thyagaraja</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

              <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/kunda.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Kunda Kunda</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/bhadrabahu.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Bhadra Bahu</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/siddhasena.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Siddhasena</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/ramdas.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Ramdas</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/GGobindSingh.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Guru Gobind Singh</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/GGRamdas.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Guru Ramdas</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/GGranth.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Guru Granth</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/chaitanyaprabhu.jpeg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Chaitanya Maha Prabhu</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/swamisamarth.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Swami Samarth</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/saibaba.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Shirdi Sai baba</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/BabaRamdev.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Baba Ramdev</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/ravishankar.jpeg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Sri Sri RaviShankar</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             
           <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/sadhguru1.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Jaggi Vasudev</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

              <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/Maharishi.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Maharishi Mahesh Yogi</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/ramana.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Ramana Maharishi</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/Brahmananda.gif" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Brahmananada Sarawati</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>



        </div>


            <!-- <div class="row">
                        <div class="login-form">
                            <form action="/login" method="post">
                                <h2 class="text-center">Log in</h2>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" required="required">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                                </div>
                                <div class="clearfix">
                                    <label class="pull-left checkbox-inline">
                                        <input type="checkbox"> Remember me</label>
                                    <a href="#" class="pull-right">Forgot Password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> -->


              <!--  <div class="yoursong">
                    <div class="row">
                        <div class="login-form">
                            <form action="/songemail" method="post">
                                <h2 class="text-center">Submit Your Song</h2>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email" required="required">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="10" placeholder="Post Your Song / Writing" id="songName" required="required"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>-->

               <!-- <div class="contactus">
                    <div class="row">
                        <div class="login-form">
                            <form action="/send-email" method="post">
                                <h2 class="text-center">Contact Us</h2>
                                <div class="form-group">
                                    <input type="text" id="username" class="form-control" placeholder="Username" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="fromemail" class="form-control" placeholder="Email" required="required">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="subject" rows="10" placeholder="Comment" id="comment" required="required"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block" id="contactus">Send Email</button>
                                </div>
                                <span id="message"></span>
                            </form>
                        </div>
                    </div>
                </div>  -->


             
               


    </div>


    <footer class="container-fluid bg-4 text-center" style="background:red;color:white;padding:20px;bottom:0;margin-bottom:0px;">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>

</body>

</html>
