<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>

</head>

<body>

    <header class="bgimage">
        <div class="container">
            <h1>Spiritual Journey </h1>

           
        </div>

    </header>

    
    <div class="jumbotron jumbotron-billboard" style="padding:0;">


        <!--Who are Dasas-->

         <!-- <div class="row" style="padding:0;">-->

       
        <div style="margin-left:20px;padding:0;" >
        <a href="/sign" class="btn btn-dark btn-lg" id="sign" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Sign Up</a>
         <a href="/login" class="btn btn-dark btn-lg" id="signup" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Login</a 
        </div>

        <br>
          <div style="margin-left:20px;padding:0;">
          <b >NOTE : ALL THE DATA AND AUDIO GRABBED FROM 3rd PARTY WEB-SITES, IS ONLY FOR EDUCATIONAL PURPOSE   </b>
          </div>
      <!--</div>-->

                  

      

        <div class="row" style="margin-left:20px;padding:0;" id="mainpage">
            <h3>Akashat Patitam Toyam Yatha Gacchati Sagaram |<br>
              Sarva Deva Namaskarah Keshavam PratiGacchati ||</h3>
              <div style="margin-left:20px;padding:0;">     
                         
               <p>Literal meaning:</p>
               <p> As all the raindrops falling from the sky ultimately meet their end in the ocean, the worship of any divine God ultimately reach the one Supreme Lord.
                </p>
               </div>   

           

             <div style="margin-left:20px;padding:0;">
            <h3 style="text-align:center"><a href="/login">Once you login you can access :-</a></h3>
         
            <ul>
               
                <li style="list-style-type: none;">Spiritual Talks from US and Indian Spiritual Gurus</li>
                 <li style="list-style-type: none;">Access to various pravachanas, spiritual books</li>
                <li style="list-style-type: none;">Events for meditation and yoga</li>
                <li style="list-style-type: none;">Create a playlist of your songs</li>
                <li style="list-style-type: none;">Upload your own material</li>
               
            </ul></div>

             <div>

                             <h3 style="text-align:center">Who is a Spiritual Guru?</h3>
            <p>Guru, (Sanskrit: “venerable”) in Hinduism, a personal spiritual teacher or guide. From at least the mid-1st millennium BCE, when the Upanishads (speculative commentaries on the Vedas, the revealed scriptures of Hinduism) were composed, India has stressed the importance of the tutorial method in religious instruction. In the educational system of ancient India, knowledge of the Vedas was personally transmitted through oral teachings from the guru to his pupil (pupils were always male in that period). Classically, the pupil lived at the home of his guru and served him with obedience and devotion.</p>

            <p>It is the guru who prescribes spiritual disciplines and who, at the time of initiation, instructs the student in the use of the mantra (sacred formula) to assist in meditation. The example of the guru who, though human, has achieved spiritual enlightenment leads the devotee to discover the same potentialities within himself.</p>


                           
            
            </div>
           
        </div>

     


    </div>

 
    <footer class="container-fluid bg-4 text-center" style="background:red;color:white;padding:20px;bottom:0;margin-bottom:0px;">

        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>

</body>

</html>
