<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>

</head>

<body>

    <header class="bgimage">
        <div class="container">
              <h1>Holistic App -- Aadia</h1>

           
        </div>

    </header>

    
    <div class="jumbotron jumbotron-billboard" style="padding:0;">


        <!--Who are Dasas-->

         <!-- <div class="row" style="padding:0;">-->

       
        <div style="margin-left:20px;padding:0;" >
        <a href="/sign" class="btn btn-dark btn-lg" id="sign" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Sign Up</a>
         <a href="/login" class="btn btn-dark btn-lg" id="signup" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Login</a 
        </div>

        <br>
          <div style="margin-left:20px;padding:0;">
          
          </div>
      <!--</div>-->

                  

      

        <div class="row" style="margin-left:20px;padding:0;" id="mainpage">


          <div style="margin-top:50px;">
            <h1>How does our holistic app, Aadia help you?</h1>

            <ul style="list-style-type:none;margin-left:10px">
          
          
              <li>Rewiring of the brain through positive affirmations.</li>
              <li>Be your personal trainer. </li>
              <li>Connect to counselors, if you need.</li>
              <li>Have you access spiritual material, songs, events catered for your needs.</li>
              <li>Helps you create a habit, there by helping you to lead a healthy and mindful life. </li>
              <li>Creating healthy addictions.</li>
              <li>We take you through a spiritual journey, one time experience of life which when made into a habit remains with you for life long </li>

            </ul>


          </div>  

         
        </div>

     

 </div>
 <div class="push"></div>
</div>
  
    

 
    <footer class="container-fluid bg-4 text-center footer">

        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>

</body>

</html>
