<!DOCTYPE html>
<html lang="en">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119235303-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119235303-1');
</script>
    <meta charset="UTF-8">
    <title>Aadia --Inflection Point</title>
    <link rel="stylesheet" href="https://cloud.typography.com/6638272/7155352/css/fonts.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
     <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/basicstyles.css">
  
    <script src="../js/bootstrap.min.js"></script>
     <script src="../js/script.js"></script>
     
     
</head>

<body>

  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{latest-api-version}'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

 
</script>

  <section class="intro" >
        <div class="inner">
           <div class="content" >
         <h1 style="margin-left:20px"><span style="text-transform: uppercase;">a</span>adia </h1>   
          <h3 style="color:white;margin-left:20px">Inflection Point</h3>  
          
          </div>        
        </div>
             
    </section> 
     <!--End Of Header -->
     

               
            
       

        <div class="difflogins">
          <div class="bgimg">
           <div class="btndisplay">
               <a href="/sign" class="btn btn-lg"  style="margin-left:20px;width:170px;padding:20px;text-align:center;background:rgba(255,255,255, 0.4);color:#4d0000;text-transform:uppercase;"><span style="text-align:center;"> Sign Up</span></a>

                  <a href="/login" class="btn btn-lg" style="margin-left:20px;width:170px;padding:20px;background:rgba(255,255,255, 0.4);text-align:center;color:#4d0000;text-transform:uppercase;"><span > Login</span></a>
             </div>  
          
           <h2 class="headingh2">Making the Shift From Student Engagement to Empowerment</h2>

           <div class="pwording"><p>“The habit of saving is itself an education; it fosters every virtue, teaches self-denial, cultivates the sense of order, trains to forethought, and so broadens the mind.”   —T.T. Munger</p> </div>
          

            </div>

           

            <div class="col-container midcolcont">
                <div  class="cell-cont cont" >
                     <h4>Aadia, your personal assistant</h4>
                  
                   
                    <ul class="col">
                        <li>You can add your daily planner in the daily planner section to make yourself accountable for the day.</li>
                        <li>We help you keep your day organized.</li>
                        <li>Keep writing till it becomes a habit and the habit creates a discipline and enjoy your new found lifestyle</li>
                        <li>Helps you plan your day in advance and helps you handle surprises more efficiently.</li>
                    </ul>   
                  
                    
                   
                   
                </div>
           
          
               <div  class="cell-cont cont" >
                     <h4>What are positive affirmations</h4>
                 
                   
                     <ul class="col">
                        <li>Positive affirmations are affirmations that are to be repeated several times in a day till those affirmations become a habit and get ingrained in your style of living.</li>
                        <li>We help provide different affirmation alerts based on your needs or you can upload your choice of affirmations.</li>
                        <li>Affirmations keep your mind positive and refreshed everytime you hit the wall</li>

                    </ul>   
                 
                  
                     
                </div>
         
           
                <div  class="cell-cont cont" >
                      <h4>Connecting to experts</h4>
                   
                  
                     <ul class="col">
                        <li>Get connected with experts for any kind of change in lifestyle:- career coaches, life coach, physical fitness trainer and any kind of life throw away surprise or daily humdrums.</li>
                        <li>Whether its college admissions in a new city or a work or family stress, mid life crisis or oldage blues we are there to talk to you.</li>
                        <li>Leave a message and the expert will revert back to you.</li>

                    </ul>   
                  
               
                </div>
        
              </div>    
       
      

          <article id="content">
                <h2>Using Aadia , what you achieve:-</h2>
                <p>We provide you the wealth of knowledge & discipline to create your bread & butter</p>
                <p>We provide skill competency based on your interest and connect you to softskill and life/career coach masters </p>
                 <p>Rewiring of the brain through positive affirmations and quotes</p>
                <p>Connect to subject matter experts.</p>
                <p>Creating healthy addictions.</p>
            </article>

     

      <div id="outer">
    <div id="home-top-video">

      <section    data-settings="{&quot;background_background&quot;:&quot;video&quot;,&quot;background_video_link&quot;:&quot;https:\/\/youtu.be\/BYBJQ5rIFjA&quot;wmode=transparent}" data-element_type="section" >
                <div >
                          <iframe  frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media" title="YouTube video player"  src="https://www.youtube.com/embed/BYBJQ5rIFjA?controls=0&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1&amp;wmode=transparent&amp;widgetid=1" id="widget2" class="videosettings"></iframe>
                      </div>
    
 

              
   
          </section>


</div>

</div>

   

       

<footer class="footer"  style="height:80px">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        

 
  
   
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
<script type="text/javascript">
    $(document).ready(function () {
      
          $(".cancel1btn").click(function () {
               event.preventDefault();
                history.back(1);
            });
              
          });

  </script>

</body>
</html>