<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>

</head>

<body>

    <header class="bgimage">
        <div class="container">
            <h1>Spiritual Journey </h1>

           
        </div>

    </header>

    
    <div class="jumbotron jumbotron-billboard" style="padding:0;">


        <!--Who are Dasas-->

         <!-- <div class="row" style="padding:0;">-->

       
        
        <a href="/sign" class="btn btn-dark btn-lg" id="sign" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Sign Up</a>
         <a href="/login" class="btn btn-dark btn-lg" id="signup" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Login</a>
       
        <a href="/songs" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Song List</a>   
         <a href="/spiritualgurus" class="btn btn-dark btn-lg" id="sgurus" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Gurus</a>
       
          
        
        
      <!-- <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <b><%=user.username%></b>
                        </p>
                   
</nav>-->



        <br>
          <b style="margin-left:20px;padding:0;">NOTE : ALL THE DATA AND AUDIO HAS BEEN GRABBED FROM 3rd PARTY WEB-SITES, IS ONLY FOR EDUCATIONAL PURPOSE   </b>
      <!--</div>-->

                  

      

        <div class="row" style="margin-left:20px;padding:0;" id="mainpage">
            <h3>Akashat Patitam Toyam Yatha Gacchati Sagaram |<br>
                            Sarva Deva Namaskaram Keshavam PratiGacchati ||</h3>
                      
                            <p>
                               
                               
                                     Literal meaning:
                                <br> As all the raindrops falling from the sky ultimately meet their end in the ocean, the worship of any divine God ultimately reach the one Supreme Lord.
                            </p>

                             <h3>Who is a Spiritual Guru?</h3>
            <p>Guru, (Sanskrit: “venerable”) in Hinduism, a personal spiritual teacher or guide. From at least the mid-1st millennium BCE, when the Upanishads (speculative commentaries on the Vedas, the revealed scriptures of Hinduism) were composed, India has stressed the importance of the tutorial method in religious instruction. In the educational system of ancient India, knowledge of the Vedas was personally transmitted through oral teachings from the guru to his pupil (pupils were always male in that period). Classically, the pupil lived at the home of his guru and served him with obedience and devotion.</p>

            <p>It is the guru who prescribes spiritual disciplines and who, at the time of initiation, instructs the student in the use of the mantra (sacred formula) to assist in meditation. The example of the guru who, though human, has achieved spiritual enlightenment leads the devotee to discover the same potentialities within himself.</p>


                           
            <h3>Who are Dasas?</h3>
            <p>
                The present day usage of Dasa in Hinduism has respectful connotation. It always means "devotee or servant or slave of god.". In the past, many saints from all castes added it in their names, signifying their total devotion to god. An example is Mohandas Gandhi. Another example is Surdas, the blind Brahmin poet. Few dasas are mentioned below are prominent ones in the history of India.
            </p>
           
        </div>

        <div style="margin-left:20px;padding:0;">
         <a href="/login" >Once you login you can access :-</a>
            <ul >
                <li style="list-style-type: none;">Access to various pravachanas</li>
                <li style="list-style-type: none;">Spiritual Talks from US and Indian Spiritual Gurus</li>
                <li style="list-style-type: none;">Create a playlist of your songs</li>
                <li style="list-style-type: none;">Upload your song to create your playlists</li>
            </ul></div>
        <!--Images-->
        


            <!-- <div class="row">
                        <div class="login-form">
                            <form action="/login" method="post">
                                <h2 class="text-center">Log in</h2>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Username" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password" required="required">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                                </div>
                                <div class="clearfix">
                                    <label class="pull-left checkbox-inline">
                                        <input type="checkbox"> Remember me</label>
                                    <a href="#" class="pull-right">Forgot Password?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> -->


              <!--  <div class="yoursong">
                    <div class="row">
                        <div class="login-form">
                            <form action="/songemail" method="post">
                                <h2 class="text-center">Submit Your Song</h2>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email" required="required">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="10" placeholder="Post Your Song / Writing" id="songName" required="required"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>-->

               <!-- <div class="contactus">
                    <div class="row">
                        <div class="login-form">
                            <form action="/send-email" method="post">
                                <h2 class="text-center">Contact Us</h2>
                                <div class="form-group">
                                    <input type="text" id="username" class="form-control" placeholder="Username" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="fromemail" class="form-control" placeholder="Email" required="required">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="subject" rows="10" placeholder="Comment" id="comment" required="required"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block" id="contactus">Send Email</button>
                                </div>
                                <span id="message"></span>
                            </form>
                        </div>
                    </div>
                </div>  -->


             
               


    </div>

 
    <footer class="container-fluid bg-4 text-center" style="background:red;color:white;padding:20px;bottom:0;margin-bottom:0px;">

        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>

</body>

</html>
