<!DOCTYPE html>
<html lang="en">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119235303-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119235303-1');
</script>
    <meta charset="UTF-8">
    <title>Aadia --Inflection Point</title>
    <link rel="stylesheet" href="https://cloud.typography.com/6638272/7155352/css/fonts.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
     <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/basicstyles.css">
    <script src="../js/bootstrap.min.js"></script>
     <script src="../js/script.js"></script>
</head>

<body>

  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{latest-api-version}'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

  <section class="intro" style="height:100%;">
        <div class="inner">
           <div class="content" >
         <h1 style="margin-left:20px">aadia </h1>   
          <h3 style="color:white;margin-left:20px">Inflection Point</h3>  
          
          </div>        
        </div>
     
     <!--End Of Header -->

    

       

        <div class="difflogins">

         
           <div style="margin-left:20px;">
          
         
         </div>
     
      <div id="register">  
          <a href="/auth/google" class="btn btn-lg btn-danger" style="margin-bottom:10px;margin-top:10px" ><span class="fa fa-google-plus"></span> Login With Google</a>

            <a href="/auth/facebook" class="btn btn-lg  btn-primary" style="margin-bottom:10px;margin-top:10px"><span class="fa fa-facebook-square"></span> Login With facebook</a>
         <h2><i class="fa fa-lock" style="margin-right: 10px;" aria-hidden="true"></i>Sign Up</h2>

        <form id="form-login" action="" method="post">   
            <fieldset>
            <p>
                   <!-- <label for="username"> UserName :</label>-->
                 <input type="text" name="username" id="username" class="form-control" placeholder="Email"  required="required">
               </p>

                <p>
                   <!-- <label for="password"> Password:</label> -->
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="required">
               </p>
               <p>
                   <input type="password" name="confpassword" id="confpassword" class="form-control" placeholder="Confirm Password" required="required">
               </p>


                <!-- <li>
                    <label for="chkbox">Home Business Owner?</label>
                    <input type="checkbox" name="chkbox" id="cbox1" value="first_checkbox">
                </li> -->
                 <div class="clearfix"> 
                      
                   </div>

                <p>
                    <button class="login1btn" id="signupbtn" >SignUp</button>
                  <p style="text-align:center;color:#4b0000">Already have an account? <b><a href="/login" class="btn" style="margin-top:10px;width:280px; background-color:#d4a2a2;border:1px solid white;color:#4b0000;padding:20px;font-size:100%;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;font-size:20px;margin-bottom:5px"><span ></span>Login Here</a></b></p>
           
                </p>

           </fieldset>
        </form>
       </div>

</section>
  <div style="bottom:0;height:300px"></div>
 </div>

<footer class="footer" style="bottom:0;height:80px">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>         
   
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
<script type="text/javascript">
    $(document).ready(function () {
      
          $(".cancel1btn").click(function () {
               event.preventDefault();
                history.back(1);
            });
              
          });

  </script>

</body>
</html>