<!DOCTYPE HTML>
<html>

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creating a Responsive Web Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>

<body>

    <!--
        To learn to create this complete desgin project, check out the original course entitled:
        Creating a Responsive Web Design
        http://www.lynda.com/CSS-tutorials/Creating-Responsive-Web-Design/424046-2.html
    -->

    <div id="page">

        <header>
           
            <svg xmlns="http://www.w3.org/2000/svg"  id="svg"  width="400" height="200" viewBox="0 0 500 100">
              <g>
               
             
              
                <text  x="30" y="30"   style="font-family:Roboto;
             font-size: 30px;text-shadow: 0 1px 0 white;
             stroke: #fff;
             fill: #fff;"  >  INFLECTION POINT</text>
                <text x="30" y="70" style="font-family:Roboto;
             font-size: 30px;text-shadow: 0 1px 0 white;
             stroke: #fff;
             fill: #fff;" >A practical guide to growth</text>
              </g>
              </g>
            </svg>
               
                 <div class="hero">
                  <h2>Aadia -- Holistic App</h2>
                <a class="btn1" href="#">Practical <span>tips for growth!</span></a>

            </div>

        </header>

        <section class="midsection">

             <div class="midsec1">
                <a href="/sign" class="btn btn-dark btn-lg btnclass" id="signbtn" > Sign Up</a>
                <a href="/login" class="btn btn-dark btn-lg btnclass" id="signup"> Login</a>

            </div>

            <article class="content">
                <h2>How does Aadia help you?</h2>
                <p>Rewiring of the brain through positive affirmations.</p>
                <p>Be your personal trainer</p>
                <p>Connect to counselors, if you need.</p>
                <p>Have you access books, events catered for your needs.</p>
                <p>Helps you create a habit, there by helping you to lead a healthy and mindful life.</p>
                <p>Creating healthy addictions.</p>



            </article>
        </section>
        <section class="smallwrites">
            <aside>
                <div class="content">
                     <h4>Aadia, your personal assistant</h4>
                   <div class="imgbox">
                   
                    <ul class="dboxes">
                        <li>You can add your daily planner in the daily planner section and you will get hourly alerts of your to do list and you can strike off those done and make yourself accountable for the day.</li>
                        <li>We help you keep your day organized.</li>
                        <li>Keep writing till it becomes a habit and the habit creates a discipline</li>
                    </ul>   
                  
                    
                   
                    </div>
                </div>
            </aside>
            <aside>
                <div class="content">
                     <h4>What are positive affirmations</h4>
                  <div class="imgbox">
                   
                     <ul class="dboxes">
                        <li>Positive affirmations are affirmations that are to be repeated several times in a day till those affirmations become a habit and get ingrained in your style of living.</li>
                        <li>We help you different affirmation alerts based on your needs. </li>
                        <li>Creates and helps keep your mind positive and refreshed everytime you hit the wall</li>

                    </ul>   
                 
                  
                       </div>
                </div>
            </aside>
            <aside>
                <div class="content">
                      <h4>Connecting to counselors</h4>
                    <div class="imgbox">
                  
                     <ul class="dboxes">
                        <li>Get connected for career counseling, emotional counseling and dealing with stress or crisis and coming out successfully.</li>
                        <li>Whether its college admissions in a new city or a work or family stress, we are there to talk to you.</li>
                        <li>Leave a message and the counselor will revert back to you.</li>

                    </ul>   
                  
                </div>
                </div>
            </aside>

        </section>
   
    </div>


 <footer class="footer" >
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        



</body>

</html>
