<html>
<head>
    <title>Citta --Inflection Point</title>
     <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cloud.typography.com/6638272/7155352/css/fonts.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/mainpage.css">
     <link rel="stylesheet" type="text/css" href="/css/commonStyles.css">
   
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>
    <header class="headerSection">
        <div >
          <p class="headerContent"> Citta -- Holistic App</p> 
           <h3 >Inflection Point</h3>
        </div>
    </header>


    <div class="innerwrapper">
        <div class="bgimg">
            <div class="btndisplay">
                <a href="/sign" class="btn btn-lg btnwrapper"> Register</a>

                <a href="/login" class="btn btn-lg btnwrapper">Login</a>
            </div>
            <h2 class="headingh2">Making the Shift From Student Engagement to Empowerment</h2>
            <div class="pwording">
                <p>“The habit of saving is itself an education; it fosters every virtue, teaches self-denial, cultivates the sense of order, trains to forethought, and so broadens the mind.” —T.T. Munger</p>
            </div>
        </div>
    </div>


        <div class="col-container midcolcont">
            <div class="cell-cont cont">
                <h4>Citta, your personal assistant</h4>


                <ul class="col">
                    <li>You can add your daily planner in the daily planner section to make yourself accountable for the day.</li>
                    <li>We help you keep your day organized.</li>
                    <li>Keep writing till it becomes a habit and the habit creates a discipline and enjoy your new found lifestyle</li>
                    <li>Helps you plan your day in advance and helps you handle surprises more efficiently.</li>
                </ul>
            </div>


            <div class="cell-cont cont">
                <h4>What are positive affirmations</h4>


                <ul class="col">
                    <li>Positive affirmations are affirmations that are to be repeated several times in a day till those affirmations become a habit and get ingrained in your style of living.</li>
                    <li>We help provide different affirmation alerts based on your needs or you can upload your choice of affirmations.</li>
                    <li>Affirmations keep your mind positive and refreshed everytime you hit the wall</li>

                </ul>



            </div>


            <div class="cell-cont cont">
                <h4>Connecting to experts</h4>


                <ul class="col">
                    <li>Get connected with experts for any kind of change in lifestyle:- career coaches, life coach, physical fitness trainer and any kind of life throw away surprise or daily humdrums.</li>
                    <li>Whether its college admissions in a new city or a work or family stress, mid life crisis or oldage blues we are there to talk to you.</li>
                    <li>Leave a message and the expert will revert back to you.</li>

                </ul>


            </div>

        </div>

        
     <div id="content">
            <h4>The 4 R's Citta application Routine, Reliance, Resilence and Repetition motivates you with -</h4>
            <p>Wealth of knowledge & discipline to create your bread & butter</p>
            <p>Skill competency based on your interest</p>
            <p>Rewiring of the brain through positive affirmations and quotes</p>
            <p>Creating healthy addictions.</p>
    </div>

      <div id="home-top-video">
           <section data-settings="{&quot;background_background&quot;:&quot;video&quot;,&quot;background_video_link&quot;:&quot;https:\/\/youtu.be\/BYBJQ5rIFjA&quot;wmode=transparent}" data-element_type="section">
                    <div>
                        <iframe width="100%" height="100%" frameborder="0" allowfullscreen="1" allow="autoplay; encrypted-media" title="YouTube video player" src="https://www.youtube.com/embed/BYBJQ5rIFjA?controls=0&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1&amp;wmode=transparent&amp;widgetid=1" id="widget2" class="videosettings"></iframe>
                    </div>
                </section>
            </div>

           
     
      <footer class="container-fluid text-center footerContent">
       <p id="footerp">  <span class="glyphicon glyphicon-copyright-mark"> </span> Citta 2020</p> 
      </footer>   
   
</body>
</html>