<!DOCTYPE>
<html>

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aadia --Inflection Point</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
     <link rel="stylesheet" type="text/css" href="/css/basicstyles.css">
  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>

  <section class="intro" >
          <div class="inner">
           <div class="content" >
         <h1 style="margin-left:20px">Yeda </h1>   
          <h3 style="color:white;margin-left:20px">Inflection Point</h3>  
          
          </div>        
        </div>
     <!--End Of Header -->

    

       

        <div class="difflogins">

         
        
     <div id="login">  

         <a href="/auth/google" class="btn btn-lg btn-danger" style="margin-bottom:10px;margin-top:10px" ><span class="fa fa-google-plus"></span> Login With Google</a>

            <a href="/auth/facebook" class="btn btn-lg  btn-primary" style="margin-bottom:10px;margin-top:10px"><span class="fa fa-facebook-square"></span>Login With facebook</a>

         <h2><i class="fa fa-lock" style="margin-right: 10px;" aria-hidden="true"></i>Sign In</h2>
        <form id="form-login" action="" method="post">
          
            <fieldset >
            <p>
                   <!-- <label for="username"> UserName :</label>-->
                  <input  type="text" name="username" id="username" class="form-control"  placeholder="username" />
               </p>

                <p>
                   <!-- <label for="password"> Password:</label> -->
                   <input  type="password" name="password" id="password" class="form-control" placeholder="password" />
               </p>


                <p>
                    <button class="login1btn" id="loginbtn">Login</button>
                </p>
                 <div class="clearfix"> 
                      
                   </div>
                  
                      <p><a href="/forgotpassword" class="pull-right" style="color:white;">Reset Password?</a></p>
                     <p>  <a href="/" style="margin-top:10px;width:280px; background-color:#d4a2a2;border:1px solid white;color:#4b0000;padding:20px;font-size:100%;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;font-size:20px;margin-bottom:5px"><span >Go Home Page </span></a></p>
                 </p>
                    </fieldset>
          
        </form>
       </div>
       </section>
       
 </div>

            </div>
          </div>
         

</body>
</html>