<!DOCTYPE>
<html>

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aadia --Inflection Point</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
     <link rel="stylesheet" type="text/css" href="/css/basicstyles.css">
  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>

  <section class="intro" style="height:100%">
          <div class="inner">
           <div class="content" >
         <h1 style="margin-left:20px">aadia </h1>   
          <h3 style="color:white;margin-left:20px">Inflection Point</h3>  
          
          </div>        
        </div>
     <!--End Of Header -->

    

       

        <div class="difflogins">

         
        
     <div id="login">  

         <h2><i class="fa fa-lock" style="margin-right: 10px;" aria-hidden="true"></i>Sign In</h2>
        <form id="form-login" action="" method="post">
          
            <fieldset >
            <p>
                   <!-- <label for="username"> UserName :</label>-->
                  <input  type="text" name="username" id="username" maxlength="50" placeholder="username" />
               </p>

                <p>
                   <!-- <label for="password"> Password:</label> -->
                   <input  type="password" name="password" id="password" maxlength="50" placeholder="password" />
               </p>


                <p>
                    <button class="login1btn" id="loginbtn">Login</button>
                </p>
                 <div class="clearfix"> 
                      
                   </div>
                  
                      <p><a href="/forgotpassword" class="pull-right" style="color:white;">Reset Password?</a></p>
                     <p>  <a href="/" style="color:white;"><span > Home </span></a></p>
                 </p>
                    </fieldset>
          
        </form>
       </div>
       </section>
        <div style="bottom:0;height:300px"></div>
 </div>

            </div>
          </div>
             <footer class="footer" style="height:80px;">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        

</body>
</html>