<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
   
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
        
</head>
<body>


   <header >
        <div class="container">
            <h1><%=user.username%>'s Activities</h1>
            
        </div>

    </header>


   <div class="jumbotron jumbotron-billboard" style="padding:0;">

        <!--Who are Dasas-->
          <div style="margin-left:20px">
         <!-- <div class="row" style="padding:0;">-->
         <a href="/mywelcomepage" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Home</a>   
        <a href="/mysonglist" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Song List</a>   
         <a href="/spiritualgurus" class="btn btn-dark btn-lg" id="sgurus" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Gurus</a>
          <a href="/spiritualtalks" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Talks</a>
        <a href="/spiritualbooks" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Books</a>
        <a href="/guidedtours" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Events </a>
        
        
            <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <b><%=user.username%></b>
                        </p>
              </div>     
              </nav>
              <div class="row" style="margin-left:20px;padding:0;" id="mainwelcomepage">
                <section class="col-md-2"  style="text-align:left;padding:45px">
               <div  style="margin-left:20px;">
                    <ul  style="list-style-type: none;">
                        <li class="active"> <a href="/dashboard">Dashboard</a></li>
                       <li> <a href="/dailyplanner"> Daily Planner</a></li>
                    </ul>

                </div>
              </section>
               
                <section class="col-md-10"  style="text-align:left;padding:45px">
               <p>Welcome <%=user.username%>! Let us help you in your journey and if you don't find what you need, do write to us. We can help you find what you need. We will customize the solutions just for you , once we understand your goal. </p>

              <p> What are your goals? Why are you here ? Understanding you on a deeper level.</p>


               <div class="userdetails" >
                    
                        <div class="userdetails-form">
                        <!--    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>-->
                            <form action="/userdetails" method="post">

                                <p class="text-center">User Details</p>
                                <div><li style="display:none" id="username" name="username"><%=user.username%> </li></div>
                                <div>
                                <label for="ageradio">Age Group</label> 
                                <div>
                                <label style="margin:0 auto" ><input type="radio"  id="contactChoice1" name="ageradio" value="teens"> 17 - 30</label>
                                </div>
                                <div>
                                <label style="margin:0 auto"><input type="radio" id="contactChoice2" name="ageradio" value="thirty"> 31 - 45</label>
                                 </div>
                                <div>
                                <label style="margin:0 auto"><input type="radio" id="contactChoice3" name="ageradio" value="midforty"> 46 - 59</label>
                                </div>
                                <div>
                                <label style="margin:0 auto"><input type="radio" id="contactChoice4" name="ageradio" value="oldage"> 60 plus</label>
                                </div>
                                
                                 <fieldset>  
                                  <select id="selectGoal" name="selectGoal" style="margin-top:10px;margin-bottom:10px;height:48px">
                                  <option >Just exploring</option>
                                  <option>Improve my life</option>
                                   <option>Improve my grades</option>
                                   <option>Stuck mid way in career and looking inward</option>
                                  <option >Depressed</option>
                                  <option>Anxious</option>
                                  <option>Anxious and Depressed</option>
                                  <option>Anger management </option>
                                  <option>Addiction management </option>
                                   <option>Other</option>
                                 </select>
                                 <span class="validateError" id="reasonError" style="display: none;">You must select the reason you are here</span>  
                                  </fieldset>  
                                 
                                  <div>
                                    <button type="submit" id="login" class="btn btn-dark btn-lg" style="width:120px;height:50px;margin-left:40px;margin-top:10px;margin-bottom:25px;color:white">Submit</button>
                                </div>
                            </form>
                        </div>
                    
                </div>
           </section>



                </div>




           
        </div>
             <footer class="container-fluid bg-4 text-center" style="background:red;color:white;padding:20px;bottom:0;margin-bottom:0px;">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>