<!DOCTYPE>
<html>

<head lang="en">
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119235303-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119235303-1');
</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aadia- Rejuvenate and Re-energize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/style.css">

  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>



  <div id="page">

       <header>
                <div id="heading"> 
                  <h1>Aadia -- Holistic App</h1>
                 <p>Rejuvenate and Re-energize</p>
            </div>   
                <div id="svg" > 
                <h1>A practical guide to growth</h1>
               </div>        
        </header>



<div class="topheading">
<div class="homebtn">
    <a  href="/mywelcomepage" class="btn btn-dark btn-lg"  >Home</a>
</div>

    <div class="navbtn">
    <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <% if(user.google.email) { %>
                            <b><%=user.google.email%></b>
                             <% } %>

                              <% if(user.facebook.email) { %>
                            <b><%=user.facebook.email%></b>
                             <% } %>

                               <% if(user.local.email) { %>
                            <b><%=user.local.email%></b>
                             <% } %>
                        </p>

      </div>
</div>
<div class="jumbotron" style="padding:0;margin-left:10px">

  
  <div class="rowpage row" style="padding:0;">

        <div class="col-sm-2 col-xs-2" style="padding:0;margin-top:50px">
                     <a href="/tests" class="btn btn-info  btn1" id="counsellors" >Skill Competency </a>
                    <a href="/lifeskills" class="btn btn-info btn1" id="lifeskills" >Daily Rythms</a>
                  <!-- <a href="/connect2careercoaches" class="btn btn-info  btn1" id="connectcollegecoaches" >College Counselling </a>
                    <a href="/fitness" class="btn btn-info btn1" id="fitness" >Fitness and Grooming </a>-->
                    </div> 
                       <div class="col-sm-9 col-xs-9" >

                      <div>
                        <p>At Aadia , we focus on self grooming. Self grooming by acquiring skill competency for your job and emotional readiness to face the daily rythms of life. Be it grit, resilience or the ability to cope through difficult and challenging situations, we can help you with that. </p>
                      </div>
   
          
                       <h3 style="text-align:center">Skill Competency</h3>
                       <p>Take our online technical tests and see areas where you need to improve or spend time revising what you have learnt and we can point you to relevant student material to study the gaps and improve your technical or engineering capabilities.</p>
                      <p>You can repeat the tests as many times as you like, till you get your perfect score. Learning is what we focus on. </p>

                       <h3 style="text-align:center">Daily Rythms</h3>
                        <p>Everyday is a new beginning. Daily Rythms give you the energy to plan your everyday and flow through your routine in a very adept manner, be it time management, money management or your daily mundane hum drums, we can help you with it. </p>
                        <p></p>
                     
                      </div>  
                
                    </div>
         
</div>
</div>
 

   
</body>
</html>