<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
    
</head>
<body>

   <header >
        <div class="container">
            <h1><%=user.username%>'s Activities</h1>
            
        </div>

    </header>


   <div class="jumbotron jumbotron-billboard" style="padding:0;">

        <!--Who are Dasas-->

         <!-- <div class="row" style="padding:0;">-->
         <a href="/mywelcomepage" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Home</a>   
        <a href="/mysonglist" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Song List</a>   
         <a href="/spiritualgurus" class="btn btn-dark btn-lg" id="sgurus" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Gurus</a>
          <a href="/spiritualtalks" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Talks</a>
        <a href="/spiritualbooks" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Books</a>
        <a href="/guidedtours" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Events </a>
        
            <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <b><%=user.username%></b>
                        </p>
                   
              </nav>
              <div class="row" style="margin-left:20px;padding:0;" id="mainwelcomepage">
               <div  style="margin-left:20px;padding:50px;">
                    <ul  style="list-style-type: none;">
                        <li class="active"> <a href="/dashboard">Dashboard</a></li>
                       <li> <a href="/dailyplanner"> Daily Planner</a></li>
                    </ul>

                </div>
               
                <section class="col-md-8"  style="text-align:left;padding:45px">
               <p>Welcome <%=user.username%>! Let us help you in your journey and if you don't find what you need, do write to us. We can help you find what you need. We will customize the solutions just for you , once we understand your goal. </p>

               What are your goals? Why are you here ? Understanding you on a deeper level.


               <div class="userdetails">
                    <div class="row">
                        <div class="userdetails-form">
                        <!--    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>-->
                            <form action="" method="post">
                                <h2 class="text-center">User Details</h2>
                                 <div class="form-group">
                                  <label>Age Group</label> 
                                  <label ><input type="radio" id="contactChoice1" name="agegrpradio" value="teens">17 - 30</label>
                                  <label><input type="radio" id="contactChoice2" name="agegrpradio" value="thirty">31 - 45</label>
                                  <label ><input type="radio" id="contactChoice3" name="agegrpradio" value="midforty">46 - 59</label>
                                  <label ><input type="radio" id="contactChoice4" name="agegrpradio" value="oldage">60 and above</label>
                                </div>  
                                  <select id="selectGoal" style="display:block;margin-top:40px;margin-left:40px;width:400px;height:48px">
                                  <option >Just exploring</option>
                                  <option>Improve my life</option>
                                   <option>Improve my grades</option>
                                   <option>Stuck mid way in career and looking inward</option>
                                  <option >Depressed</option>
                                  <option>Anxious</option>
                                  <option>Anxious and Depressed</option>
                                  <option>Anger management </option>
                                  <option>Addiction management </option>
                                   <option>Other</option>
                                 </select>
                                  <div class="form-group">
                                    <button type="submit" id="login" class="btn btn-dark btn-lg" style="width:120px;height:50px;margin-left:40px;margin-top:10px;color:white">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
           </section>



                </div>




           
        </div>
             <footer class="container-fluid bg-4 text-center" style="background:red;color:white;padding:20px;bottom:0;margin-bottom:0px;">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>