<!DOCTYPE HTML>
<html>

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yeda  Inflection Point</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>
   <div id="page">

         <header >
        <div class="row"  >
                <a href="/mywelcomepage"  class="menubutton" >Home</a>  
              <p style="margin-left:auto; margin-right:auto;text-align:center;">  Buddy Time </p> 
              <div class="row">
               <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
              <p style="text-align:right;font-size:12px;margin-right:2%;"> <% if(user.google.email) { %>
                            <%=user.google.email%>
                             <% } %>

                              <% if(user.facebook.email) { %>
                           <%=user.facebook.email%>
                             <% } %>

                               <% if(user.local.email) { %>
                          <%=user.local.email%>
                             <% } %></p>
              </div>
        </div>

    </header>

   <!--<div class="jumbotron jumbotron-billboard" style="padding:0;">-->

        <!--Who are Dasas-->
      

             <div class="row" >
                <section class="col-sm-3"  >
                    <ul  class="sidelist">
                       <li class="active"> <a  class="linkbutton" href="/yourdiary">Your Diary</a></li>
                        <li> <a class="linkbutton" href="/dailyroutine"> Follow A Routine</a></li>
                       <li> <a  class="linkbutton" href="/chat"> Want To Talk</a></li>
                    </ul>
              </section>
             
             
                <section class="col-sm-8" >
                 
                   <!--<div style="margin-left:20px;background:#EFF2FA;">-->
                  
                     
                      <h3> Some quotes for you today:-</h3>
                      
                        <ul   style="list-style-type: none;">
                            <%  for(var i=0; i<oldagedepressionquotesdata.quotelist.length; i++) {%>
                              <div class="oldagebackground" style="margin-left:10px;">
                              <li style="line-height:3.1;"><%=oldagedepressionquotesdata.quotelist[i].quote%></li>
                              </div> 
                             

                              <% } %>

                        </ul> 
                     
                      <!-- </div>-->
                   
                </section>
           

            </div>
         <!-- </div>-->
           
      <footer class="container-fluid text-center" style="position:fixed;bottom:0;background-color:#4b0000;width:100%;color:ghostwhite">
       <p id="footerp">  <span class="glyphicon glyphicon-copyright-mark"> </span> Yeda 2020</p> 
      </footer>
</body>
</html>