<!DOCTYPE>
<html>

<head>
    <title>Citta</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
</head>
<body>

   <header >
        <div class="container">
            <h1>My Spiritual Journey</h1>
          
        </div>

    </header>


   <div class="jumbotron jumbotron-billboard" style="padding:0;">

        <!--Who are Dasas-->
        <div style="margin-left:20px">
         <!-- <div class="row" style="padding:0;">-->
        <a href="/mysonglist" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Song List</a>   
         <!-- <a href="/spiritualgurus" class="btn btn-dark btn-lg" id="sgurus" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Gurus</a>-->
          <a href="/spiritualtalks" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Talks</a>
        <a href="/spiritualbooks" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Books</a>
        <a href="/guidedtours" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Events </a>
        
            <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <b><%=user.username%></b>
                        </p>
                   
              </nav>
            </div>
               

             <div class="row" style="margin-left:20px;padding:0;" id="thanks">
                <section class="col-sm-3"  style="text-align:left;padding:45px">
                    <ul  class="sidelist">
                       <li class="active"> <a href="/yourself">More about yourself</a></li>
                        <li> <a href="/dailyroutine"> Your daily routine</a></li>
                       <li> <a href="/chat"> Want to talk</a></li>
                    </ul>
              </section>
             
             
                <section class="col-sm-9" style="text-align:left;padding:45px">
                 
                   <!--<div style="margin-left:20px;background:#EFF2FA;">-->
                  
                     
                      <h3> Some quotes for you today:-</h3>
                      
                        <ul   style="list-style-type: none;">
                            <%  for(var i=0; i<oldagequotesdata.quotelist.length; i++) {%>
                              <div class="oldagebackground" style="margin-left:10px;">
                              <li ><%=oldagequotesdata.quotelist[i].quote%></li>
                              </div> 
                             

                              <% } %>

                        </ul> 
                     
                      <!-- </div>-->
                   
                </section>
           

            </div>
            <div class="push" ></div>
             <footer class="container-fluid bg-4 text-center footer" >
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>