<!DOCTYPE>
<html>

<head>
    <title>Citta</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/JavaScript" src="/js/script.js"></script>
    
</head>
<body>

   <header class="bgimage">
        <div class="container">
          <h1>Holistic App -- Citta</h1>
        </div>

    </header>


   <div class="jumbotron jumbotron-billboard" style="padding:0;">

        <!--Who are Dasas-->

         <!-- <div class="row" style="padding:0;">-->
           <div style="margin-left:20px">
        <a href="/sign" class="btn btn-dark btn-lg" id="sign" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Sign Up</a>
         <a href="/login" class="btn btn-dark btn-lg" id="signup" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Login</a>
       </div>

        <br>
       <div class="successreset">
                    <div class="row">
                        <div class="successreset-form">
                        <!--    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>-->
                            <form id="successreset-form" action="" method="post">
                               
                              
                                 <h3>Congratulations you have successfully changed your password! Go to home page and login!</h3>
                               
                                <p style="text-align:center"><b><a href="/login">Login Now</a> page</b></p>
                                <div class="clearfix">
                                   
                                   
                                </div>

                                
                            </form>
                        </div>
                    </div>
                </div>


            </div>
             <footer class="container-fluid bg-4 text-center footer" >
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>