<!DOCTYPE HTML>
<html>

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creating a Responsive Web Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>

<body>

    <!--
        To learn to create this complete desgin project, check out the original course entitled:
        Creating a Responsive Web Design
        http://www.lynda.com/CSS-tutorials/Creating-Responsive-Web-Design/424046-2.html
    -->

    <div id="page">

       <header>
                
                <div id="svg">
                <h1>Inflection Point</h1>
                <p>A practical guide to growth</p>
               </div>
                 <div class="hero">
                  <h2>Aadia -- Holistic App</h2>
               <a class="btn1" href="#">Rejuvenate <span>and Re-energize</span></a>

            </div>

        </header>


   <div class="jumbotron jumbotron-billboard" style="padding:0;">

        <!--Who are Dasas-->

         <!-- <div class="row" style="padding:0;">-->
         <div style="margin-left:20px">
        <a href="/sign" class="btn btn-dark btn-lg btnclass" id="sign" > Sign Up</a>
        <a href="/login" class="btn btn-dark btn-lg btnclass" id="signup" > Login</a> 
      </div>

        <br>
            <div class="sign">
                    <div class="row">
                        <div class="signup-form">
                            <form name="form1" action="" method="post">
                                <h2 class="text-center">Sign Up</h2>
                                <div class="form-group">
                                    <input type="text" name="username" id="username" class="form-control" placeholder="Email" required="required">
                                   
                                </div>
                                
                                <div class="form-group">
                                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required="required">
                                </div>

                                <div class="form-group">
                                    <input type="password" name="confpassword" id="confpassword" class="form-control" placeholder="Confirm Password" required="required">
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="submit" class="btn btn-primary btn-block">Sign Up</button>
                                </div>
                                <p style="text-align:center">Already have an account? <b><a href="/login">Login</a></b></p>
            <p style="text-align:center">Or go <b><a href="/">home</a> page</b></p>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
             <footer class="footer">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>