<!DOCTYPE>
<html>

<head lang="en">
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119235303-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119235303-1');
</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aadia- Rejuvenate and Re-energize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/style.css">

  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>



  <div id="page">

       <header>
                <div id="heading"> 
                  <h1>Aadia -- Holistic App</h1>
                 <p>Rejuvenate and Re-energize</p>
            </div>   
                <div id="svg" > 
                <h1>A practical guide to growth</h1>
               </div>        
        </header>



<div class="topheading">
<div class="homebtn">
    <a  href="/teenselfesteemthanks" class="btn btn-dark btn-lg" >Home</a>
</div>

    <div class="navbtn">
    <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <% if(user.google.email) { %>
                            <b><%=user.google.email%></b>
                             <% } %>

                              <% if(user.facebook.email) { %>
                            <b><%=user.facebook.email%></b>
                             <% } %>

                               <% if(user.local.email) { %>
                            <b><%=user.local.email%></b>
                             <% } %>
                        </p>

      </div>
</div>


   <div class="jumbotron" style="padding:0;margin-left:10px">
    <div class="rowpage row" style="padding:0;">
      <div class="col-sm-2 col-xs-2" style="padding:0;">
         
                    
        </div>             
             
              <div class="col-sm-9 col-xs-9" >
                 
                   <!--<div style="margin-left:20px;background:#EFF2FA;">-->
                  
                      <h2>Set up a good morning routine</h2>
                      <div >
                       
                      <p>Give yourself 10 points for every activity you follow, if you get 5000 points you will get a gift from us. Rate yourself truthfullly
                      </p>
                   
                      <p>Wake up by 6 am atleast. If you wake up earlier than that, give yourself an additional 10 points.</p></li>
                       <p>Brush your teeth , take a cold shower bath if you can take it, preferably. Cold water shower makes one resilient. </p>
                       <p>Focus on your breath for atleast 10 minutes, sitting in one place</p>
                       <p>Feel the silence around you</p>
                      <p>Write down 3 goals you want to accomplish for the day</p>
                       <p>Read them aloud </p>
                      <p>Start your day fresh</p>
                       <p>Evaluate every hour of the day whether you have moved away from the goal or you are closer towards your goal</p>
                       <p>If you have moved away from your goal, that means you have to re-read your goals and refocus back</p>
                      <p>Else, your day went by just as you planned, Congratulations!</p>
                    
                </div>
           

            </div>
            </div> 
          </div>
             <footer class="footer" style="height:80px">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>