<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
</head>
<body>

   <header >
        <div class="container">
            <h1>My Daily Routine</h1>
          
        </div>

    </header>


   <div class="jumbotron jumbotron-billboard" style="padding:0;">

        <!--Who are Dasas-->
        <div style="margin-left:20px">
         <!-- <div class="row" style="padding:0;">-->
       
      
        
            <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <b><%=user.username%></b>
                        </p>
                   
              </nav>
            </div>
               

             <div class="row" style="margin-left:20px;padding:0;" id="thanks">
                <ul  class="sidelist">
                       <li > <a  class="btn btn-info btn-lg" href="/teenselfesteemthanks" style="margin-bottom:10px;width:300px;overflow:hidden"> Home</a></li>
                      
                    
                    </ul>
             
             
                <section class="col-sm-9" style="text-align:left;padding:45px">
                 
                   <!--<div style="margin-left:20px;background:#EFF2FA;">-->
                  
                      <h2>Morning Routine</h2>
                      <ul style="list-style-type: decimal;">
                        <li>
                      <p>Give yourself 10 points for every activity you follow, if you get 5000 points you will get a gift from us. Rate yourself truthfullly
                      </p></li>
                      <li>
                      <p>Wake up by 6 am atleast. If you wake up earlier than that, give yourself an additional 10 points.</p></li>

                      <li>
                      
                      <p>Brush your teeth , take a cold shower bath if you can take it. Cold water shower makes one resilient. </p></li>

                      <li>

                      <p>Focus on your breath for atleast 10 minutes, sitting in one place</p></li>
                        <li>
                       <p>Feel the silence around you</p></li>
                       <li>
                      <p>Write down 3 goals you want to accomplish for the day</p></li>
                      <li>
                       <p>Read them aloud </p></li>
                       <li>
                      <p>Start your day fresh</p></li>
                      <li>
                       <p>Evaluate every hour whether you have moved away from the goal or you are closer towards your goal</p></li>
                       <li>
                       <p>If you have moved away from your goal, that means you have to re-read your goals and refocus back</p></li>
                       <li>
                      <p>Else, your day went by just as you planned, Congratulations!</p></li>
                      </ul>
                </section>
           

            </div>
             
             <footer class="footer" >
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>