<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>

</head>

<body>

    <header class="bgimage">
        <div class="container">
            <h1>DEVOTIONAL SONGS</h1>
            <h2>Prayers + Actions = Services To The Almighty</h2>
        </div>

    </header>



    <div class="jumbotron jumbotron-billboard" style="padding:0;">
         <a href="/" class="btn btn-dark btn-lg" id="signup" style="width:120px;height:50px;margin-left:20px;margin-right:10px;margin-top:10px;color:white"> Home</a>
         <a href="/login" class="btn btn-dark btn-lg" id="signup" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Login</a>
        <a href="/yoursong" class="btn btn-dark btn-lg" id="signup" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Your Song</a>
        <a href="/songs" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Song List</a>
        <a href="/aboutus" class="btn btn-dark btn-lg" id="aboutus" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> About Us</a>
         <a href="/spiritualgurus" class="btn btn-dark btn-lg" id="aboutus" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Gurus</a>
        <a href="/sign" class="btn btn-dark btn-lg" id="sign" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Sign Up</a>
        <a href="/contact" class="btn btn-dark btn-lg" id="contactus" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Contact Us</a>

       <div class="row " style="margin-top:100px" id="mainpics">

            

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/Gnanak.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Guru Nanak</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

              <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/Ramanujacharya.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Sri Ramanujacharya</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>


             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/Shri_Madhvacharya.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Sri Madhvacharya</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>


            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/shankaracharya_new.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Shankaracharya</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>
            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                <a href="/rs1">
                  <img class="img-responsive" src="images/GRaghavendraSwamy.jpg" alt="Icon" style="width:250px;height:250px;">
                  </a>
                 </div>
                <p>Guru Raghavendra Swamy</p>
                <p>
                    <button  type="info" data-toggle="modal" data-target="#rs1"class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
              <div class="imagebox"> 
                <a href="/pd1">
                <img class="img-responsive"  src="images/pd1.jpg" alt="Icon" style="width:250px;height:250px;">
                </a>
                 </div>
                <p>Purandara dasa</p>
                <p>
                    <button type="info" data-toggle="modal" data-target="#pd1"class="btn btn-info">Read More</button>
                </p>
            </section>
            
            <div class="modal fade" id="pd1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="position:absolute;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Purandara Dasa</h4>
        </div>
        <div class="modal-body">
          <p>Purandara Dasa (ಪುರಂದರ ದಾಸ) was a Haridasa, a great devotee of Lord Krishna. He was a singer and composer of many songs on Madhwa philosophy. Purandara Dasa was pioneers of Dasa Sahithya, which is a Bhakti movement and propagated Hari Sarvottama and Vayu Jeevottamatva though his 475,000 keerthanas (songs). He wrote all his compositions with Ankita "Purandara Vittala". He is as an avatara (incarnation) of the great sage Narada.
            His Guru, Sri Vyasatirtha himself glorified Purandara Dasa in a song thus: Dāsarendare purandara dāsarayya (ದಾಸರೆಂದರೆ ಪುರಂದರ ದಾಸರಯ್ಯ). </p>
            <p>Brief Story:
                Before becoming Haridasa, Purandara Dasa was a wealthy diamond merchant. His name was Srinivasa Nayaka and everyone used to call him Navakoti Narayana as he was very rich worth of ninety millions. His parents are Varadappa Nayaka and Leelavathi. He was born around year 1484  in Kshemapura, near Tirthahalli, Shivamogga district, Karnataka state from Karnataka. He received good education and became proficient in caranatic music, Kannada and Sanskrit languages. 
                One day Lord Krishna approached Srinivasa in the guise of a poor man to request for money to perform upanayanam (sacred thread ceremony) to his son. For which, Srinivasa mocked and rejected him without offering any money. Therefor to bring change in him, Lord approached Srinivasa's wife, Saraswathi who is a pious and spiritual person,she gave her precious nose rings.
                Lord Krishna then met Srinivasa to exchange the nose ring with money. But the shrewd Srinivasa immediately identified the nose ring as his wife's and hurried home anxiously to ascertain the truth of the matter, he demanded his wife to show him the nose ring immediately. Realizing that Srinivasa got to know about her secret donation, the wife decided to end her life with poison. She prayed Lord before drinking poison, she was shocked to see a nose ring inside the poison cup. With blissful happiness she elucidated the entire episode to her husband, who was bewildered. 
                The entire episode brought change in Srinivasa Nayaka, who gave away all his material riches to become a Haridasa, a devotional singer. He became disciple of Madhwa Saint Shri Vyasatirtha. He is contemporary of Kanakadasaru and has inspired many people like Vijaya dasaru, Gopala Dasaru and so on. He died in 1564 at the age of 80.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>





   <div class="modal fade" id="rs1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="position:absolute;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Shri Raghavendra Swamy</h4>
        </div>
        <div class="modal-body">
          <p>Shri Guru Raghavendra Swamy also known as Parimalacharya is a respected 16th century saint who was known for preaching Madhwa Philosophy. He is considered as one of the avatara of King Prahlada. He ascended Brindavana at Mantralayam in present day Andhra Pradesh in 1671.  </p>
            <p>Brief Story:
               Sri Raghavendra Swami was born as Sri Venkata Natha (Venkata Ramana), the second son of Sri Thimanna Bhatta and Smt. Gopikamba on Thursday, Sukla Navami of Phalguna month in 1595, in Mrigashīrsha Nakshatra, at Bhuvanagiri, near Chidambaram in Tamil Nadu. Venkatanatha had two siblings: Gururaja and Venkatamba. Venkatanatha's education was undertaken by his brother-in-law Lakshminarasimhacharya, after the early demise of his father. 
               Venkatanatha was married to Saraswathi and had a son Lakshminarayana.  He was a disciple of Sudhindra Tirtha, the pontiff of Kumbakonam mutt.  Venkatanatha succeeded him as the pontiff the mutt and took on the name Raghavendra Tirtha. Guru  Raghavendra was great in every respect. He was siddha Purusha (God realised person). He went on many pilgrimages, and performed many miracles, Blind got their eyesight, Deaf could hear.



                Raghavendra Thirtha enterted brindavana alive on shraavana bahula bidige. He was succeeded by his disciple Yogeendra Tirtha.

                </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>



             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                <a href="views/contact.ejs">
                <img class="img-responsive" src="images/kd1.jpeg" alt="Icon" style="width:250px;height:250px;">
                  </a>
                 </div>
                <p>Kanakadasa</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/gopal_p.jpg" alt="Icon" style="width:250px;height:250px;">
               
                 </div>
                <p>Gopal Dasaru</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/jagganath-dasa.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Sri Jagannath Dasa</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>


             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">          
                     <img class="img-responsive" src="images/pvenkat.jpg" alt="Icon" style="width:250px;height:250px;">
                     
                 </div>

                <p>Prasanna Venkata Dasa</p>
                  <p>
                      <button type="info" class="btn btn-info">Read More</button>
                  </p>
            
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">
                  <img class="img-responsive" src="images/vidasa.jpg" alt="Icon" style="width:250px;height:250px;">
                 
               </div>
                <p>Vijaya Dasa</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">
                  <img class="img-responsive" src="images/basavanna.jpeg" alt="Icon" style="width:250px;height:250px;">
                 
               </div>
                <p>Basavanna</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>


             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">
                <img class="img-responsive" src="images/APS.jpg" alt="Icon" style="width:250px;height:250px;">
              </div>
                <p>Allama Prabhu</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>



            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">
                <img class="img-responsive" src="images/dnyaneshwar.jpg" alt="Icon" style="width:250px;height:250px;">
              </div>
                <p>Dyaneshwar</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
              <div class="imagebox">
                <img class="img-responsive" src="images/tukaram.jpg" alt="Icon" style="width:250px;height:250px;">
              </div>
                <p>Tukaram</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

           

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">
                <img class="img-responsive" src="images/tdasa.jpg" alt="Icon" style="width:250px;height:250px;">
              </div>
                <p>TulsiDasa</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">
                <img class="img-responsive" src="images/Surdas.jpg" alt="Icon" style="width:250px;height:250px;">
              </div>
                <p>Surdas</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox">
                <img class="img-responsive" src="images/Thyagaraja.jpg" alt="Icon" style="width:250px;height:250px;">
              </div>
                <p>Thyagaraja</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

              <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/kunda.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Kunda Kunda</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/bhadrabahu.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Bhadra Bahu</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/siddhasena.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Siddhasena</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/ramdas.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Ramdas</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/GGobindSingh.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Guru Gobind Singh</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/GGRamdas.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Guru Ramdas</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/GGranth.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Guru Granth</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/chaitanyaprabhu.jpeg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Chaitanya Maha Prabhu</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/swamisamarth.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Swami Samarth</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/saibaba.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Shirdi Sai baba</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/BabaRamdev.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Baba Ramdev</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

            

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/ravishankar.jpeg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Sri Sri RaviShankar</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             
           <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/sadhguru1.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Jaggi Vasudev</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

              <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/Maharishi.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Maharishi Mahesh Yogi</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/ramana.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Ramana Maharishi</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

             <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/Brahmananda.gif" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Brahmananada Sarawati</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>

              <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/Paramahansa_Yogananda.jpg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>Paramahansa Yogananda</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>


              <section class="col-md-3" style="text-align:center;">
               <div class="imagebox"> 
                  <img class="img-responsive" src="images/acbsp.jpeg" alt="Icon" style="width:250px;height:250px;">
                  
                 </div>
                <p>A. C. Bhaktivedanta Swami Prabhupada</p>
                <p>
                    <button type="info" class="btn btn-info">Read More</button>
                </p>
            </section>
  


        </div>
    </div>
     <footer class="container-fluid bg-4 text-center" style="background:red;color:white;padding:20px;bottom:0;margin-bottom:0px;">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>

</body>

</html>