<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
</head>
<body>
  <script type="text/javascript">

     jQuery(document).ready(function ($) {

                     $('.showtext1').hide()
                    $('.toggle').click(function () {
                        var $toggled = $(this).attr('href');
                       
                        $($toggled).siblings(':visible').hide();
                        $($toggled).toggle("slide", {
                            direction: 'up'
                        }, 1000);
                        $($toggled).toggle();
                        //return false;
                    });

                });

    $(function()
      {
           
          $('.list  > li a').click(function() {
          $(this).parent().find('ul').toggle();
        });
       
      });

  </script>

 <header >
        <div class="row"  >
                <a href="/dailyroutine" class="btn btn-dark btn-lg homebutton" >Home</a>  
              <p style="margin-left:auto; margin-right:auto;text-align:center;">  Yeda-A practical guide to growth </p> 
              <div class="row">
               <a  id="logout" class="logout" href="/logout">logout</a>
              <p style="text-align:right;font-size:12px;margin-right:2%;"> <% if(user.google.email) { %>
                            <%=user.google.email%>
                             <% } %>

                              <% if(user.facebook.email) { %>
                           <%=user.facebook.email%>
                             <% } %>

                               <% if(user.local.email) { %>
                          <%=user.local.email%>
                             <% } %></p>
              </div>
        </div>

    </header>



  <!-- <div class="jumbotron jumbotron-billboard" style="padding:0;">-->

        <!--Who are Dasas-->

         <!-- <div class="row" style="padding:0;">-->
       <div style="margin-left:20px">
          <p class="spiritualTalkContent">  A cozy time in Spirituality </p> 
        
        
          
            </div>

               <div class="row" style="margin-left:20px;margin-top:20px;padding:0;">
                  <p id="parap">Spirituality holds that no matter our ideological differences, all humans are one and the same consciousness expressed in different ways. In other words, our essence is of the same nature and our differences are only superficial — a realization that makes us want to embrace our fellow human beings and walk the path to enlightenment together as friends, by helping one another instead of putting obstacles on each other’s path.</p>
                 

                
                  <div class="col-sm-2" style="padding:0;">
                    <div class="toc" style="padding:0;margin-left:20px;" >
                      <ul class="list">
                      
                      <li>
                          <a><b>Indian Philosophy</b></a>
                          <ul >
                              <li><a class="toggle" href="#bgeeta">Bhagvad Geeta</a></li>  
                              <li><a class="toggle" href="#pravachanams">Pravachanams</a></li>  
                              <li><a class="toggle" href="">Ramayana</a></li>     
                              <li><a class="toggle" href="">Short Stories </a></li> 
                                <li><a class="toggle" href="#bks">Sister B.K Shivani</a></li>
                          </ul>                
                      </li>
                      
                      <li>
                          <a><b> The Western way </b></a>
                          <ul  >
                              <li><a class="toggle" href="#hwilhelm">Hans Wilhelm</a></li>  
                              <li><a class="toggle" href="#etolle">Echart Tolle</a></li>    
                              <li><a class="toggle" href="#wdyer">Dr Wayne W. Dyer</a></li>  
                              
                              <li><a class="toggle" href="#pcoelho">Paulo Coelho</a></li>
                              <li><a class="toggle" href="#owinfrey">Oprah Winfrey</a></li>
                              <li><a class="toggle" href="#rdass">Ram Dass</a></li>
                             
                              <li><a class="toggle" href="#dchopra">Deepak Chopra</a></li>  
                              <li><a class="toggle" href="#jvasudev">Jaggi Vasudev</a></li>    
                              <li><a class="toggle" href="#rshankar">Sri Sri Ravi Shankar</a></li>
                            
                          </ul>                
                      </li>

                      <li>
                          <a><b>The Eastern Way</b></a>
                          <ul >
                              <li><a class="toggle" href="">Dalai Lama</a></li>  
                               <li> <a class="toggle" href="">Thich Nhat Hanh</a></li>   
                              
                          </ul>                
                      </li>
                       <li>
                          <a><b>Positive Affirmations</b></a>
                          <ul >
                              <li><a class="toggle" href="">Positive Thinking</a></li>  
                           
                          </ul>                
                      </li>
                     </ul>
                     </div>

                   </div>

                     <div class="col-sm-10" style="padding:0">
                      <div class="contentarea" style="padding:0">


                     <div class="showtext1" id="bgeeta">
                        <div class="row" style="margin-top:10px;">
                          <div class="col-sm-10" >
                            <h1>Bhagavad- Gita</h1>   
                        </div>
                       <div>
                           <p > The Bhagavad- Gita is considered by eastern and western scholars alike to be among the greatest spiritual books the world has ever known. In a very clear and wonderful way the Supreme Lord Krishna describes the science of self-realization and the exact process by which a human being can establish their eternal relationship with God. In terms of pure, spiritual knowledge the Bhagavad- Gita is incomparable. Its intrinsic beauty is that its knowledge applies to all human beings and does not postulate any sectarian idealogy or secular view. It is appproachable from the sanctified realms of all religions and is glorified as the epitome of all spiritual teachings. This is because proficiency in the Bhagavad- Gita reveals the eternal principles which are fundamental and essential for spiritual life from all perspectives and allows one to perfectly understand the esoteric truths hidden within all religious scriptures. Many great thinkers from our times such as Albert Einstein, Mahatma Gandhi and Albert Schweizer as well as Madhvacarya, Sankara and Ramanuja from bygone ages have all contemplated and deliberarted upon its timeless message. The primary purpose of the Bhagavad- Gita is to illuminate for all of humanity the realization of the true nature of divinity; for the highest spiritual conception and the greatest material perfection is to attain love of God!</p>

                           <p>The website Gita.org, which has provided indetail explaining and meaning to each verse and is translated in different languages.

                          <br><a href="http://www.bhagavad-gita.org/" target="_blank">Hear all about Bhagvad Gita</a></p>

                          <iframe width="300" height="215" src="https://www.youtube.com/embed/_EqwlOeTj7Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                          <iframe width="300" height="215" src="https://www.youtube.com/embed/ckaEwJj2A1U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        </div>
                    </div>
                </div>



                <div class="showtext1" id="pravachanams">
                        <div class="row" style="margin-top:10px;">
                          <div class="col-sm-10" >
                            <h1>Pravachanams</h1>   
                        </div>
                       <div>
                           <p > </p>

                           <p>The website Pravachanam.com,  has provided indetail explaining and meaning to each pravachanam and is translated in different languages.</p>

                          <br><p><a href="https://www.pravachanam.com/" target="_blank">Hear all about Pravachanams</a></p>

                          <iframe width="300" height="215" src="https://www.youtube.com/embed/_EqwlOeTj7Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                          <iframe width="300" height="215" src="https://www.youtube.com/embed/ckaEwJj2A1U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        </div>
                    </div>
                </div>


                    <div class="showtext1" id="bks">
                        <div class="row" style="margin-top:10px;padding:20px">
                          <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <h1>Sister BK Shivani</h1>   
                        </div>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/fSN0E_p4abs?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/TEggiGNxi1A?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/GM_q5seAlsA?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/NnCnjqA2lgI?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/lDAxW3zSyr8?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/pGQ04Vf19eM?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


                    <iframe width="400" height="215" src="https://www.youtube.com/embed/DCfsMR2Bd6U?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


                    <iframe width="400" height="215" src="https://www.youtube.com/embed/ZDO1EQxQeN8?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>



            </div>
          </div>



                 <div class="showtext1" id="hwilhelm">
                        <div class="row" style="margin-top:10px;padding:20px">
                          <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <h1>Hans Wilhelm</h1>   
                        </div>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/EA5HLuvZNek?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/VoJ2PSxmHMg?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/XLRIIBan1mI?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/sPBBnTFzNeo?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/kSiYkGMmo4Y?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

            </div>
          </div>

          <div class="showtext1" id="etolle">
                        <div class="row" style="margin-top:10px;margin-left:10px">
                          
                            <h1>Eckhart Tolle</h1>   
                        </div>
                      <div class="col-sm-10" >

                          <div style="display:inline-block;margin-left:30px">
                           
                           <iframe width="400" height="215" src="https://www.youtube.com/embed/etwu-5ZKhoA?autoplay=0&rel=0" frameborder="0" allowfullscreen></iframe>
                           <p  class="parastyle">surrender solves all the problems </p>
                           </div>

                           <div style="display:inline-block;margin-left:30px">
                           <iframe width="400" height="215" src="https://www.youtube.com/embed/JtMUiVBfFyk?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            <p class="parastyle">Allow what goes wrong and see the magic! Eckhart Tolle</p>
                           </div>

                           <div style="display:inline-block;margin-left:30px">
                          
                         <iframe width="400" height="215" src="https://www.youtube.com/embed/AeY0GCYwM0k?autoplay=0&rel=0" frameborder="0" allow="autoplay;encrypted-media" allowfullscreen></iframe>
                          <p class="parastyle">How to turn things that go wrong into a blessing?</p>
                       </div>

                       <div style="display:inline-block;margin-left:30px">
                           
                          <iframe width="400" height="215" src="https://www.youtube.com/embed/AMcJdrhTTTQ?autoplay=0&rel=0" frameborder="0" allow="autoplay;encrypted-media" allowfullscreen></iframe>
                          <p class="parastyle">Accept and see what happens !Eckahrt Tolle</p>
                        </div>

                        <div style="display:inline-block;margin-left:30px">
                          
                         <iframe width="400" height="215" src="https://www.youtube.com/embed/6h3LhhROMo4?autoplay=0&rel=0" frameborder="0" allow="autoplay;encrypted-media" allowfullscreen></iframe>
                          <p class="parastyle">Say "No" to thoughts by choice! Eckhart </p>
                       </div>

                       <div  style="display:inline-block;margin-left:30px">
                         
                          <iframe width="400" height="215" src="https://www.youtube.com/embed/m8UNrY5t9Qc?autoplay=0&rel=0" frameborder="0" allow="autoplay;encrypted-media" allowfullscreen></iframe>
                          <p class="parastyle">Step Out of time and mind into the stillness of now!</p>
                          </div>
                         

                        </div>
                    </div>



                     <div class="showtext1" id="wdyer">
                        <div class="row" style="margin-top:10px;margin-left:10px">
                          
                            <h1>Wayne Dyer</h1>   
                        </div>
                      <div class="col-sm-10" >

                          <div style="display:inline-block;margin-left:30px">
                           
                           <iframe width="400" height="215" src="https://www.youtube.com/embed/LCtv8vQqvwI?autoplay=0&rel=0" frameborder="0" allowfullscreen></iframe>
                           <p  class="parastyle">Transformation Through Love - daily meditation by Wayne Dyer </p>
                           </div>

                           <div style="display:inline-block;margin-left:30px">
                           <iframe width="400" height="215" src="https://www.youtube.com/embed/uak_97-tqxo?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            <p class="parastyle">If you correct your mind, the rest of your life will fall into place</p>
                           </div>

                           <div style="display:inline-block;margin-left:30px">
                          
                         <iframe width="400" height="215" src="https://www.youtube.com/embed/jDwv9injT0I?autoplay=0&rel=0" frameborder="0" allow="autoplay;encrypted-media" allowfullscreen></iframe>
                          <p class="parastyle">Wayne Dyer "I Can Do It"! just listen to your soul.</p>
                       </div>

                       <div style="display:inline-block;margin-left:30px">
                           
                          <iframe width="400" height="215" src="https://www.youtube.com/embed/4YbuyBRHIVw?autoplay=0&rel=0" frameborder="0" allow="autoplay;encrypted-media" allowfullscreen></iframe>
                          <p class="parastyle">MANIFEST DEEPEST DESIRES✶Law of Attraction</p>
                        </div>

                        <div style="display:inline-block;margin-left:30px">
                          
                         <iframe width="400" height="215" src="https://www.youtube.com/embed/JzU4cF8frWs?autoplay=0&rel=0" frameborder="0" allow="autoplay;encrypted-media" allowfullscreen></iframe>
                          <p class="parastyle">Wayne Dyer Power of Intention pt 1 Complete Version </p>
                       </div>

                       <div  style="display:inline-block;margin-left:30px">
                         
                          <iframe width="400" height="215" src="https://www.youtube.com/embed/f0C1-pze3rc?autoplay=0&rel=0" frameborder="0" allow="autoplay;encrypted-media" allowfullscreen></iframe>
                          <p class="parastyle">Becoming Self-Aware And Learning What You Want - Wayne Dyer</p>
                          </div>
                         

                        </div>
                    </div>



                    <div class="showtext1" id="pcoelho">
                        <div class="row" style="margin-top:10px;margin-left:10px">
                          
                            <h1>Paulo Coelho</h1>   
                        </div>
                      <div class="col-sm-10" >

                          <div style="display:inline-block;margin-left:30px">
                           
                           <iframe width="400" height="215" src="https://www.youtube.com/embed/2ttHsOjTLGw?autoplay=0&rel=0" frameborder="0" allowfullscreen></iframe>
                           <p  class="parastyle">On Mindfulness - A Conversation (Paulo Coelho & Arianna Huffington) </p>
                           </div>

                           <div style="display:inline-block;margin-left:30px">
                           <iframe width="400" height="215" src="https://www.youtube.com/embed/kwkxzx6N6XE?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            <p class="parastyle">Paulo Coelho on Luck, Coincidence, and Faith</p>
                          </div>       
                    </div>
                </div>




                <div class="showtext1" id="rdass">
                        <div class="row" style="margin-top:10px;padding:20px">
                          <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <h1>Ram Dass</h1>   
                        </div>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/viNlErR88GE?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/Vphv0iPKxA0?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/LCiB9oMnIbI?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


            </div>
          </div>



           <div class="showtext1" id="owinfrey">
                        <div class="row" style="margin-top:10px;padding:20px">
                          <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <h1>Ram Dass</h1>   
                        </div>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/UK1aKDLMySo?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/272yj-bmQiA?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/3MPL2Ca4Fac?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                     <iframe width="400" height="215" src="https://www.youtube.com/embed/B7PDT_M91AE?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                    <iframe width="400" height="215" src="https://www.youtube.com/embed/V4zhQ3M892E?autoplay=0&rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>


            </div>
          </div>


          <div class="showtext1" id="dchopra">
                        <div class="row" style="margin-top:10px;padding:20px">
                          <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <h1>Deepak Chopra</h1>   
                        </div>

                   coming soon
            </div>
          </div>

           <div class="showtext1" id="rshankar">
                        <div class="row" style="margin-top:10px;padding:20px">
                          <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <h1>Sri Sri Sri RaviShankar</h1>   
                        </div>

                   coming soon
            </div>
          </div>


             <div class="showtext1" id="jvasudev">
                        <div class="row" style="margin-top:10px;padding:20px">
                          <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <h1>Jaggi Vasudev</h1>   
                        </div>

                   coming soon
            </div>
          </div>


        </div>
        <div class="push1"  style="height:500px"></div>
      </div>
    <!--</div>-->
         <footer class="container-fluid text-center" style="position:fixed;margin-top:3%;bottom:0;background-color:#4b0000;width:100%;height:3%;color:ghostwhite;">
       <p id="footerp">  <span class="glyphicon glyphicon-copyright-mark"> </span> Yeda 2020</p> 
      </footer>
</body>
</html>