<!DOCTYPE HTML>
<html>

<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creating a Responsive Web Design</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>
   <div id="page">

        <header>
                
                <div id="svg">
                <h1>Inflection Point</h1>
                <p>A practical guide to growth</p>
               </div>
                 <div class="hero">
                  <h2>Aadia -- Holistic App</h2>
                <a class="btn1" href="#">Rejuvenate <span>and Re-energize</span></a>

            </div>

        </header>

   <div class="jumbotron jumbotron-billboard" style="padding:0;">

        <!--Who are Dasas-->
        <div style="margin-left:20px">
         <!-- <div class="row" style="padding:0;">-->
        <a href="/mywelcomepage" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Home</a>   
      
        
        
            <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <% if(user.google.email) { %>
                            <b><%=user.google.email%></b>
                             <% } %>

                              <% if(user.facebook.email) { %>
                            <b><%=user.facebook.email%></b>
                             <% } %>

                               <% if(user.local.email) { %>
                            <b><%=user.local.email%></b>
                             <% } %>
                        </p>
                   
              </nav>
            </div>
               

             <div class="row" style="margin-left:20px;padding:0;" id="thanks">
                <section class="col-md-2"  style="text-align:left;padding:45px">
                    <ul  class="sidelist">
                       
                    </ul>
              </section>
             
             
                <section class="col-md-10"  style="text-align:left;padding:45px">
                   <div style="margin-left:20px;padding:0;">Thanks, lets work together to achieve your goals </div>
                   <div style="margin-left:20px;background:#EFF2FA;">
                   

                      <h3> Few Affirmations, to say everyday to become rich and powerful</h3>
                      <div style="margin-left:10px;">
                      <p>I have a passion so strong , that I want to dedicate my life in my passion</p>
                      <p>I would be the best in what I am interested in, rather than taking up a subject which leads to superficial money and lesser interest.</p>
                      <p>I am the best in my school, I am one of the best in my state</p>
                      <p>I can solve problems or talk about a subject in depth</p>
                      <p>I have every attitude which will take me to the top</p>
                       <p>I will not compromise my character to achieve my goals</p>
                       <p>I am good as I am and will not compare myself to others and be a better version of what I was the previous day.</p>

                       </div>
                   </div> 
                </section>
           

            </div>
          </div>
             <footer class="footer" >
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>