<!DOCTYPE>
<html>

<head lang="en">
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119235303-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119235303-1');
</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yeda- Rejuvenate and Re-energize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/style.css">

  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>



  <div id="page">

       <header>
                <div id="heading"> 
                  <h1>Yeda -- Holistic App</h1>
                 <p>Rejuvenate and Re-energize</p>
            </div>   
                <div id="svg" > 
                <h1>A practical guide to growth</h1>
               </div>        
        </header>



<div class="topheading">
<div class="homebtn">
    <a  href="/selfhelp" class="btn btn-dark btn-lg" >Home</a>
</div>

    <div class="navbtn">
    <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <% if(user.google.email) { %>
                            <b><%=user.google.email%></b>
                             <% } %>

                              <% if(user.facebook.email) { %>
                            <b><%=user.facebook.email%></b>
                             <% } %>

                               <% if(user.local.email) { %>
                            <b><%=user.local.email%></b>
                             <% } %>
                        </p>

      </div>
</div>

   <div class="jumbotron" style="padding:0;margin-left:10px">
    <div class="rowpage row" style="padding:0;">
      <div class="col-sm-2 col-xs-2" style="padding:0;">
            <a  class="btn btn-info btn1" href="/smarttricks"> Tricks To Be The Best</a>
            <a class="btn btn-info btn1" href="/teenspiritualtalk"> Self Improvement videos  </a>
            <a class="btn btn-info btn1" href="/teenspiritualbook"> Books to Read  </a></li>
           
        </div>
          <div class="col-sm-9 col-xs-9" >
                        <h3 style="text-align:center">Daily Affirmations </h3>
                        <div >

                        
                              <p style="line-height:1.5em">My character is a sum total of my habits, My habits are formed by my repeated decisions and every decision I make will either build up my character or bring me down and eventually break me down, So I will choose to make my right informed decisons. (Derek Prince).</p>
                         
                               <p style="line-height:1.5em">Character is strength,I will do the right things when no one is looking.</p>
                           
                              <p style="line-height:1.5em">I am proud to represent the values that matter to me and my community.</p>
                          
                              <p style="line-height:1.5em">The more I like myself, the more others will like me.</p>
                           
                              <p style="line-height:1.5em">I am becoming better with each day.</p>
                          
                        </div>

            </div>

                  <div class="col-container colcont" >

                         <%  for(var i=0; i<teenselfesteemdata.quotelist.length; i++) {%>
                        <div  class="cell-cont cont" >
                        
                        
                             
                              <div class="col">
                                    <p><%=teenselfesteemdata.quotelist[i].quote%></p>
                              </div> 
                               </div>
                               <% } %> 
                     
                    </div>  
            
                   
              </div>
           
            </div>
           
            <script type="text/javascript">

           
              var date = new Date();

              var year = date.getUTCFullYear();
              var month = date.getUTCMonth() + 1;  
              var day = date.getUTCDate();
              var hours = date.getUTCHours();
              var minutes = date.getUTCMinutes();
              var seconds = date.getUTCSeconds();

              month = (month < 10) ? '0' + month : month;
              day = (day < 10) ? '0' + day : day;
              hours = (hours < 10) ? '0' + hours : hours;
              minutes = (minutes < 10) ? '0' + minutes : minutes;
              seconds = (seconds < 10) ? '0' + seconds: seconds;

             document.getElementById("date").innerHTML = month + "/" + day + "/" + year;

              //  n =  new Date();
              //  y = n.getFullYear();
              //  m = n.getMonth() + 1;
              //  d = n.getDate();
              //  document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
</script>
          
</body>
</html>