<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <!-- load bootstrap css -->
    
    <!-- load fontawesome -->

    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>
   

</head>

<body>
    <script>
        jQuery(document).ready(function ($) {

                     $('.showsong1').hide()
                    $('.toggle').click(function () {
                        var $toggled = $(this).attr('href');
                       
                        $($toggled).siblings(':visible').hide();
                        $($toggled).toggle("slide", {
                            direction: 'up'
                        }, 1000);
                        $($toggled).toggle();
                        //return false;
                    });

                $('#selectlanguage').change(function()
                 {
                     $('#form-languageselect').submit();
                 });


                 $('#myTable').DataTable();


              

                });
    </script>
    

    <header style="height:80px">
        <div class="container">
          <h1>Song List</h1>
        </div>

    </header>
   <div style="margin-left:20px">
 <a href="/mywelcomepage" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Home</a>
 <a href="/mysonglist" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Song List</a>   
   
   <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <b><%=user.username%></b>
                        </p>
                   
              </nav> 
   </div>

    <div class="row" style="margin-left:20px;margin-top:20px;padding:0;">



        <div class="col-sm-4" style="padding:0">

             

            <form id="form-languageselect"  action="/devlanguagedetails" method="post">
                <select id="selectlanguage" name="selectlanguage" style="margin-left:20px;margin-bottom:10px;height:48px;width:200px">
                                 <option>select Language</option>  
                                  <option >English</option>
                                  <option>Bengali</option>
                                   <option >Hindi</option>
                                   <option >Kannada</option>
                                  <option >Gujurati</option>
                                  <option >Marathi</option>
                                  <option>Malyalam</option>
                                  <option >Tamil </option>
                                  <option selected="selected">Telugu</option>
                                  
                                 </select>

                             </form>

           
            <div class="musiclist" style="padding:0;margin-left:20px;">

                <div class="table-responsive">



                    <table class="table table-bordered" cellpadding="1" cellspacing="1" id="myTable">
                        <thead>
                            <tr>
                                <th style="text-align:center">
                                   <h5></h5><p><%=telugusonglistdata.categoryName%></p> 
                                </th>
                            </tr>


                        </thead>
                        <tbody>

                            <%  for(var i=0; i<telugusonglistdata.songlist.length; i++) {%>

                                <tr>
                                    <td>
                                        <a class="toggle" href="#<%= englishsonglistdata.songlist[i].songElementId%>">
                                            <%=telugusonglistdata.songlist[i].songTitle%>
                                                </li>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                  
                </div>
                </div>
             </div>

             <div class="col-sm-8" style="padding:0">
            <div class="contentarea" style="padding:0">




                <div class="showsong1" id="devabandha">
                    <div class="row" style="margin-top:10px;padding:20px">
                         <div class="col-sm-9" style="padding:0;background:#e6e6e6;text-align:center">
                            <h1>The Climb</h1>
                            <p>Play your song and catch up with the lyrics in the languages mentioned below</p>
                            <audio controls>
                                <source src="mp3/theclimb.mp3" type="audio/mpeg">
                            </audio>
                            <br>
                        </div>

                       <iframe width="560" height="315" src="https://www.youtube.com/embed/Oh1m1VoMoAA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>

          </div>
          </div>

        </div>
    


    <!--Who are Dasas-->

    <!-- <div class="row" style="padding:0;">-->

    <footer class="container-fluid bg-4 text-center" style="background:red;color:white;padding:20px;bottom:0;margin-bottom:0px;">
        <p> <span>&copy; Copyright 2018
                    </span></p>
    </footer>

</body>

</html>
