<!DOCTYPE>
<html>

<head lang="en">
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119235303-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119235303-1');
</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aadia- Rejuvenate and Re-energize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/style.css">

  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../js/prototype.js"></script>
    <script src="../js/bootstrap.min.js"></script>
   
</head>
<body>
<script type="text/javascript">

 function showChildren(obj)
 {
     var children = obj.immediateDescendants();
     for(var i=0;i<children.length;i++)
     {
         if(children[i].tagName.toLowerCase()=='ul')
             children[i].toggle();
     }
 }
 
 // Called when a node's checkbox changes, toggles the child checkboxes recursively
 // @param: the reference of the clicked node, i.e. the <li>
 // @param: reference to self
 function checkChildren(obj,srcObj)
 {
     var children = obj.immediateDescendants();
     for(var i=0;i<children.length;i++)
     {
         if(children[i].tagName.toLowerCase()=='input' && children[i].type=='radio' && children[i]!=srcObj)
            children[i].checked = srcObj.checked;
 
         // recursive call
         checkChildren(children[i],srcObj);
     }
   }


function startQuiz()
{
  var checkedValue = null; 
 var inputElements = document.getElementsByClassName('messageCheckbox');
  console.log(inputElements[i]);
 var tframe =  document.getElementById("videoWrapper");
 
  for(var i=0; inputElements[i]; i++){

      if(inputElements[i].checked){
           checkedValue = inputElements[i].value;
            //alert(checkedValue);
           if(checkedValue === "beginnerjavascript"){
              tframe.style.display = "block";
            }else{
               tframe.style.display = "none";
            }

          
           break;
      }
}
  
}

</script>


  <div id="page">

       <header>
                <div id="heading"> 
                  <h1>Aadia -- Holistic App</h1>
                 <p>Rejuvenate and Re-energize</p>
            </div>   
                <div id="svg" > 
                <h1>A practical guide to growth</h1>
               </div>        
        </header>



<div class="topheading">
<div class="homebtn">
    <a  href="/mywelcomepage" class="btn btn-dark btn-lg" >Home</a>
</div>

    <div class="navbtn">
    <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <% if(user.google.email) { %>
                            <b><%=user.google.email%></b>
                             <% } %>

                              <% if(user.facebook.email) { %>
                            <b><%=user.facebook.email%></b>
                             <% } %>

                               <% if(user.local.email) { %>
                            <b><%=user.local.email%></b>
                             <% } %>
                        </p>

      </div>
</div>
 <div class="jumbotron" style="padding:0;margin-left:10px;height:100%">

  <div class="rowpage row" style="padding:0;">
   <div class="col-sm-2 col-xs-2" style="padding:0;margin-left:20px;">        
                 
             
 <ul style="display:block">


     <li id="1" style="background:#d4a2a2;color:#4b0000;padding:12px;margin-bottom:10px"><input type="type"  style="display:none;" name='f_1' onclick='checkChildren($("1"),this);'><a href='#' style="color:#4b0000;" onclick='showChildren($("1"));'><b>&plus;</b>JavaScript</a>
         <ul style="display:none;margin-left:15px;padding:4px;margin-top:5px">
             <li id="2"><input type='radio' style="background:#d4a2a2;color:#4b0000;padding:2px" value="beginnerjavascript" class="messageCheckbox" onclick="startQuiz()"><a href='#' style="color:#4b0000;">Beginner</a></li>
             <li id="3"><input type='radio' style="background:#d4a2a2;color:#4b0000;padding:2px" class="messageCheckbox" onclick="startQuiz()"><a href='#' style="color:#4b0000;">Intermediate</a></li>
   <li id=“4”><input type='radio' style="background:#d4a2a2;color:#4b0000;padding:2px" class="messageCheckbox" onclick="startQuiz()" ><a href='#' style="color:#4b0000;">Advanced</a></li>
   </ul>
     </li>


       <li id="5" style="background:#d4a2a2;color:#4b0000;padding:12px;margin-bottom:10px"><input type="type"  style="display:none" name='f_1' onclick='checkChildren($("5"),this);'><a href='javascript:void(0);' style="color:#4b0000;" onclick='showChildren($("5"));'><b>&plus;</b>Node Js</a>
         <ul style="display:none;margin-left:15px;color:#4b0000">
             <li id="6"><input type='radio' value="beginnernodejs" class="messageCheckbox" onclick="startQuiz()"><a href='#' style="color:#4b0000;">Beginner</a></li>
             <li id="7"><input type='radio'  value="intermediatenodejs" class="messageCheckbox" onclick="startQuiz()"><a href='#' style="color:#4b0000;">Intermediate</a></li>
           <li id=“8”><input type='radio' class="messageCheckbox"  value="advancednodejs" onclick="startQuiz()" ><a href='#' style="color:#4b0000;">Advanced</a></li>
          </ul>
     </li>

       <li id="9" style="background:#d4a2a2;color:#4b0000;padding:12px;margin-bottom:10px"><input type="type"  style="display:none" name='f_1' onclick='checkChildren($("9"),this);'><a href='javascript:void(0);' style="color:#4b0000;" onclick='showChildren($("9"));'><b>&plus;</b>MongoDB</a>
        <ul style="display:none;margin-left:15px;color:#4b0000">
             <li id="10"><input type='radio' value="beginnermongo" class="messageCheckbox" onclick="startQuiz()"><a href='#' style="color:#4b0000;">Beginner</a></li>
             <li id="11"><input type='radio'  value="intermediatemongo" class="messageCheckbox" onclick="startQuiz()"><a href='#' style="color:#4b0000;">Intermediate</a></li>
           <li id=“12”><input type='radio' class="messageCheckbox"  value="advancedmongo" onclick="startQuiz()" ><a href='#' style="color:#4b0000;">Advanced</a></li>
          </ul>
     </li>

      <li id="13" style="background:#d4a2a2;color:#4b0000;padding:12px;margin-bottom:10px"><input type="type"  style="display:none" name='f_1' onclick='checkChildren($("9"),this);'><a href='javascript:void(0);' style="color:#4b0000;" onclick='showChildren($("13"));'><b>&plus;</b>Block Chain Technology</a>
        <ul style="display:none;margin-left:15px;color:#4b0000">
             <li id="14"><input type='radio' value="beginnermongo" class="messageCheckbox" onclick="startQuiz()"><a href='#' style="color:#4b0000;">Beginner</a></li>
             <li id="15"><input type='radio'  value="intermediatemongo" class="messageCheckbox" onclick="startQuiz()"><a href='#' style="color:#4b0000;">Intermediate</a></li>
           <li id=“16”><input type='radio' class="messageCheckbox"  value="advancedmongo" onclick="startQuiz()" ><a href='#' style="color:#4b0000;">Advanced</a></li>
          </ul>
     </li>

      <li id="17" style="background:#d4a2a2;color:#4b0000;padding:12px;margin-bottom:10px"><input type="type"  style="display:none" name='f_1' onclick='checkChildren($("9"),this);'><a href='javascript:void(0);' style="color:#4b0000;" onclick='showChildren($("17"));'><b>&plus;</b>DataScience</a>
        <ul style="display:none;margin-left:15px;color:#4b0000">
             <li id="18"><input type='radio' value="beginnermongo" class="messageCheckbox" onclick="startQuiz()"><a href='#' style="color:#4b0000;">Beginner</a></li>
             <li id="19"><input type='radio'  value="intermediatemongo" class="messageCheckbox" onclick="startQuiz()"><a href='#' style="color:#4b0000;">Intermediate</a></li>
           <li id=“20”><input type='radio' class="messageCheckbox"  value="advancedmongo" onclick="startQuiz()" ><a href='#' style="color:#4b0000;">Advanced</a></li>
          </ul>
     </li>


 </ul>
 
                        
                 </div>       
                <div class="col-sm-9 col-xs-9" >  
                  <div class="videoWrapper" id="videoWrapper" style="display:none">
                <iframe src="../html/quizapp.html" scrolling="no"  id="jsframe"></iframe> 
                 </div>
              </div>  
              </div>    
              <div id="push"></div>
          </div>
        
            <footer class="footer" >
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>

               