<!DOCTYPE>
<html>

<head lang="en">
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119235303-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119235303-1');
</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yeda- Rejuvenate and Re-energize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/style.css">

  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>



  <div id="page">

       <header>
                <div id="heading"> 
                  <h1>Yeda -- Holistic App</h1>
                 <p>Rejuvenate and Re-energize</p>
            </div>   
                <div id="svg" > 
                <h1>A practical guide to growth</h1>
               </div>        
        </header>



<div class="topheading">
<div class="homebtn">
    <a  href="/selfhelp" class="btn btn-dark btn-lg" >Home</a>
</div>

    <div class="navbtn">
    <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <% if(user.google.email) { %>
                            <b><%=user.google.email%></b>
                             <% } %>

                              <% if(user.facebook.email) { %>
                            <b><%=user.facebook.email%></b>
                             <% } %>

                               <% if(user.local.email) { %>
                            <b><%=user.local.email%></b>
                             <% } %>
                        </p>

      </div>
</div>



   <div class="jumbotron" style="padding:0;margin-left:10px">
  <div class="rowpage row" style="padding:0;">
                <div class="col-sm-2 col-xs-2" style="padding:0;">
                       <a href="/dashboard" class="btn btn-info  btn1" id="dashboard">Dashboard</a>
                      <a href="/dailyplanner" class="btn btn-info  btn1" id="dplanner"> Daily Planner</a>
                      <a href="#" class="btn btn-info  btn1" id="oaffirmations">Other Affirmations </a>
                      <a href="#" class="btn btn-info  btn1" id="emile"> Going an extra mile</a>
                     
                 
              </div>
             
             
                 <div class="col-sm-9 col-xs-9" >
                   <div ><h3>Thanks, lets work together to achieve your goals </h3></div>
                   <div class="affirmations">
                   

                      <h3> Few Affirmations, to say everyday</h3>
                      <div style="margin-left:10px;">
                      <p>I am so grateful and thankful for me being me</p>
                      <p>I am so grateful and thankful for all the opportunity the universe has given me to experience life as me</p>
                      <p>I approach each day with  passion and excitement and open my arms for all good things that are coming in my way</p>
                      <p>I love to wake up early in the morning and watch the sun rise</p>
                      <p>I love to keep my room neat and tidy</p>
                       <p>I love to exercise as much as I can</p>
                       <p>I am a very confident , strong, smart and have the ability to work hard to achieve my goals.</p>

                       </div>
                       <div style="margin-left:10px;" id="oprahaffirmations">
                        <p>Nuggets of practical wisdom (<a href="https://www.inc.com/betsy-mikel/oprah-just-gave-new-grads-1-piece-of-remarkably-insightful-advice-for-career-success.html">Oprah's Nuggets of Practical Wisdom</a> )</p>
                        <p>Oprah  squeezed in a few pieces of practical advice about life in general.</p>

                        <p>Eat a good breakfast. It really pays off.</p>
                        <p>Pay your bills on time.</p>
                        <p>Recycle.</p>
                        <p>Make your bed.</p>
                        <p>Aim high.</p>
                        <p>Say thank you to people and actually mean it.</p>
                        <p>Ask for help when you need it.</p>
                        <p>Put your phone away at the dinner table.</p>
                        <p>Know what you tweet and post and Instagram today might be asked about in a job interview tomorrow -- or 20 years from tomorrow.</p>
                        <p>Be nice to little kids.</p>
                        <p>Be nice to your elders.</p>
                        <p>Be nice to animals.</p>
                        <p>Know that it's better to be interested than interesting.</p>
                        <p>Invest in a quality mattress. I'm telling you, your back will thank you later.</p>
                        <p>Don't cheap out on your shoes.</p>
                        <p>And, if you're fighting with someone you really love, for God's sake find your way back to them because life is short, even on our longest days.</p>
                        <p>Don't ever confuse what is legal with what is moral, because they are entirely different animals. In life, you are principled or you're not. So do the right thing -- especially when nobody's looking.</p>
                        <p>Do not equate money and fame with accomplishment and character.</p>
                        <p>Oprah closed her speech by reminding every member of the audience to stop comparing themselves with others. "Your life journey is about learning to become more of who you are and fulfilling the highest, truest expression of yourself as a human being," she said. "That's why you're here. You will do that through your work and your art, your relationships, and your love."</p>

                       </div> 

                         <div style="margin-left:10px;"  id="vidos">
                        <iframe width="460" height="315" src="https://www.youtube.com/embed/nH5K0yo-o1A?rel=0&autoplay=0&showinfo=0&controls=0" allow="encrypted-media" allowfullscreen></iframe>

                          <iframe width="460" height="315" src="https://www.youtube.com/embed/EwU-ePbWue0?rel=0&autoplay=0&showinfo=0&controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

               </div>

                    
                </div>
              </div>
          </div>
        </div>
            <footer class="footer" style="height:15%">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        

    <script type="text/javascript">

    $(function(){
      
      $('#oaffirmations').click(function(){
        $('#oprahaffirmations').show();
        return false;
      })

      $('#emile').click(function(){
        $('#vidos').show();
        return false;
      })
    });

    </script>
</body>
</html>