<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
</head>
<body>

   <header >
        <div class="container">
            <h1>My Spiritual Journey</h1>
          
        </div>

    </header>


   <div class="jumbotron jumbotron-billboard" style="padding:0;">

        <!--Who are Dasas-->
        <div style="margin-left:20px">
         <!-- <div class="row" style="padding:0;">-->
        <a href="/mysonglist" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Song List</a>   
         <a href="/spiritualgurus" class="btn btn-dark btn-lg" id="sgurus" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Gurus</a>
          <a href="/spiritualtalks" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Talks</a>
        <a href="/spiritualbooks" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Books</a>
        <a href="/guidedtours" class="btn btn-dark btn-lg" id="sbooks" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Events </a>
        
            <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <b><%=user.username%></b>
                        </p>
                   
              </nav>
            </div>
               

             <div class="row" style="margin-left:20px;padding:0;" id="thanks">
                <section class="col-md-2"  style="text-align:left;padding:45px">
                    <ul  style="list-style-type: none;">
                       <li class="active"> <a href="/dashboard">Dashboard</a></li>
                       <li> <a href="/dailyplanner"> Daily Planner</a></li>
                    </ul>
              </section>
             
             
                <section class="col-md-10"  style="text-align:left;padding:45px">
                   <div style="margin-left:20px;padding:0;">Thanks, lets work together to achieve your goals </div>
                   <div style="margin-left:20px;background:#EFF2FA;">
                      <h3> Few Affirmations, to say everyday</h3>
                      <div style="margin-left:10px;">
                      <p>I am so grateful and thankful for me being me</p>
                      <p>I am so grateful and thankful for all the opportunity the universe has given me to experience life as me</p>
                      <p>I approach each day with  passion and excitement and open my arms for all good things that are coming in my way</p>
                      <p>I love to wake up early in the morning and watch the sun rise</p>
                      <p>I love to keep my room neat and tidy</p>
                       <p>I love to exercise as much as I can</p>
                       <p>I am a very confident , strong, smart and have the ability to work hard to achieve my goals.</p>

                       </div>
                   </div> 
                </section>
           

            </div>
             <footer class="container-fluid bg-4 text-center footer" style="position:absolute;">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>