<!DOCTYPE>
<html>

<head lang="en">
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119235303-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119235303-1');
</script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Yeda- Rejuvenate and Re-energize</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/style.css">

  
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/script.js"></script>
</head>
<body>



  <div id="page">

        <header >
        <div class="row"  >
                <a href="/selfhelp" class="btn btn-dark btn-lg"  style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:black">Home</a>  
              <p style="margin-left:auto; margin-right:auto;text-align:center;">30 Rich & Powerful </p> 
              <div class="row">
               <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
              <p style="text-align:right;font-size:12px;margin-right:2%;"> <% if(user.google.email) { %>
                            <%=user.google.email%>
                             <% } %>

                              <% if(user.facebook.email) { %>
                           <%=user.facebook.email%>
                             <% } %>

                               <% if(user.local.email) { %>
                          <%=user.local.email%>
                             <% } %></p>
              </div>
        </div>

    </header>
  <!--<div class="jumbotron" style="padding:0;margin-left:10px">-->
    <div class="rowpage row" style="padding:0;">
      <div class="col-sm-2 col-xs-2" style="padding:0;">
       
      </div>
             
             
               <div class="col-sm-9 col-xs-9" >
                   <div style="margin-left:20px;padding:0;">Thanks, lets work together to achieve your goals </div>
                   <div style="margin-left:20px;background:#EFF2FA;">
                   

                      <h3> Few Affirmations, to say everyday to become rich and powerful</h3>
                      <div style="margin-left:10px;">
                      <p>I am blessed,I am rich, I am wealthy, I have freedom</p>
                      <p>There is more than enough for everyone. Abundance is everywhere I look. I see wealth, abundance and prosperity everywhere I go.</p>
                      <p>I overcome all obstacles that lie in my way of financial success and independence</p>
                      <p>My ideals are Bill Gates, Warren Buffet and all those who have invited success in their lives, I will read about them , take risks and grow like them  </p>
                      <p>I love to keep my room neat and tidy, as cluttered home reflects cluttered mind</p>
                       <p>I love to exercise as much as I can, as exercising keeps me away from doctor</p>
                       <p>I am good as I am and will not compare myself to others and be a better version of what I was the previous day.</p>
                    </div>
                    
            </div>
          </div>
         </div>
       <!--</div> --> 
        <footer class="container-fluid text-center" style="position:fixed;bottom:0;background-color:#4b0000;width:100%;color:ghostwhite">
       <p id="footerp">  <span class="glyphicon glyphicon-copyright-mark"> </span> Yeda 2020</p> 
      </footer> 
</body>
</html>