<!DOCTYPE>
<html>

<head>
    <title>Citta</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
   
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fondamento|Pacifico|Ruthie&display=swap" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>
        
</head>
<body>


   <header >
        <div class="row"  >
                <a href="/dailyroutine" class="homebutton">Home</a>  
              <p style="margin-left:auto; margin-right:auto;text-align:center;">  Your Diary - Pen Your Thoughts </p> 
              <div class="row">
               <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
              <p style="text-align:right;font-size:12px;margin-right:2%;"> <% if(user.google.email) { %>
                            <%=user.google.email%>
                             <% } %>

                              <% if(user.facebook.email) { %>
                           <%=user.facebook.email%>
                             <% } %>

                               <% if(user.local.email) { %>
                          <%=user.local.email%>
                             <% } %></p>
              </div>
        </div>

    </header>


  <!-- <div class="jumbotron jumbotron-billboard" style="padding:0;">-->

        <!--Who are Dasas-->

              <div class="row" >             
                <section class="col-sm-10">
                   <div class="userdayevents" >   
                        <div class="userdetails-form dailydiary" >
                            <form action="/userdailydiary" method="post" >
                              <label class="diarylabel"> DIARY <span id="date" class="datelabel" >   </span></label> 
                               <div>   
                                  <textarea class="form-element"  name="activity1" id="diaryContent"></textarea>        
                                    </div>
                                  <div>
                                    
                                    <button type="submit"  class="btn btn-dark btn-lg homebutton" >Submit</button>
                                </div>
                            </form>
                        </div>
                    
                </div>
           </section>
        </div>

    <div class="push1"  style="height:500px"></div>

<script type="text/javascript">

n =  new Date();
y = n.getFullYear();
m = n.getMonth() + 1;
d = n.getDate();
document.getElementById("date").innerHTML = "Today's Date:" + m + "/" + d + "/" + y ;

</script>
           
       
        <footer class="container-fluid text-center footerContent" >
       <p id="footerp">  <span class="glyphicon glyphicon-copyright-mark"> </span> Citta 2020</p> 
      </footer> 
</body>
</html>