<!DOCTYPE>
<html>

<head>
    <title>Dasa</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
</head>

<body>	

<header class="bgimage">
        <div class="container">
            <h1>DEVOTIONAL SONGS</h1>
            <h2>Prayers + Actions = Services To The Almighty</h2>
        </div>

    </header>

        <a href="/" class="btn btn-dark btn-lg" id="signup" style="width:120px;height:50px;margin-left:20px;margin-right:10px;margin-top:10px;color:white"> Home</a>
         <a href="/login" class="btn btn-dark btn-lg" id="signup" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Login</a>
        <a href="/yoursong" class="btn btn-dark btn-lg" id="signup" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Your Song</a>
        <a href="/songs" class="btn btn-dark btn-lg" id="songs" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Song List</a>
        <a href="/aboutus" class="btn btn-dark btn-lg" id="aboutus" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> About Us</a>
         <a href="/spiritualgurus" class="btn btn-dark btn-lg" id="aboutus" style="width:150px;height:50px;margin-right:10px;margin-top:10px;color:white">Spiritual Gurus</a>
        <a href="/sign" class="btn btn-dark btn-lg" id="sign" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white"> Sign Up</a>
        <a href="/contact" class="btn btn-dark btn-lg" id="contactus" style="width:120px;height:50px;margin-right:10px;margin-top:10px;color:white">Contact Us</a>



        <br>
 <div class="yoursong">
                    <div class="row">
                        <div class="login-form">
                            <form action="/songemail" method="post">
                                <h2 class="text-center">Submit Your Song</h2>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Name" required="required">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Email" required="required">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="10" placeholder="Post Your Song / Writing" id="songName" required="required"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
  </div>
   <footer class="container-fluid bg-4 text-center footer">
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>
  </body>              

</html>