<!DOCTYPE>
<html>

<head>
    <title>Citta</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
</head>
<body>

   <header >
        <div class="container">
            <h1>My Spiritual Journey</h1>
          
        </div>

    </header>


  <!-- <div class="jumbotron jumbotron-billboard" style="padding:0;">-->

       
        
            <nav style="display:inline-block;float:right;margin-right:20px">
 
                      
                        <a style="font-size:20px;" id="logout" class="logout" href="/logout">logout</a>
                        <p style="font-size:14px;color:black">
                            <b><%=user.username%></b>
                        </p>
                   
              </nav>
            </div>
               

             <div class="row" style="margin-left:20px;padding:0;" id="thanks">
                 <ul  class="sidelist">
                       <li > <a  class="btn btn-info btn-lg" href="/teenselfesteemthanks" style="margin-bottom:10px;width:300px;overflow:hidden"> Home</a></li>
                      
                    
                    </ul>
             
             
                <div class="col-md-7"  style="text-align:left;padding:45px">
                   <div style="margin-left:20px;padding:0;">Thanks, lets work together to achieve your goals </div>
                   <div style="margin-left:20px;">
                   

                      <h3> Few Affirmations, to say everyday</h3>
                      <div style="margin-left:10px;">
                      <p>Today I am better that what I was yesterday in every way</p>
                      <p>I will compete with myself and make sure I am the best version of myself and not compare myself with others</p>
                      <p>I will do my work without being lazy</p>
                      <p>Everytime I am lazy I will do 5 pushups and I will keep a count of how many pushups I did in the day</p>
                      <p>I love myself and I am blessed; I thank God for everything God has given me</p>
                       <p>I will cultivate my mind through positive thoughts </p>
                       <p>I have good control over myself.</p>
                        <p>I can treat everyday as a new beginning.</p>

                       </div>
                   </div> 
                </div>

                <div class="col-md-2"  style="text-align:left;padding:45px">
                  

                  
                   </div> 
                </div>
           

          <!--  </div>-->
             <footer class="footer1" >
        <p> <span>&copy; Copyright 2018
            </span></p>
    </footer>        
</body>
</html>