@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

html,
body {
    width: 100%;
   /* height: 100%;*/
   background:#4d0000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.intro {
    width: 100%;
    /*height: 100%;*/
    margin: auto;
  
    opacity: 1;
    display: block;
    /* top: 0; */
    background-size: cover;
}

.intro .inner {
    display: block;
    vertical-align: top;

    width: 100%;
    max-width: none;
    border-bottom: 1px solid white;
}
#content {
    display: block;
    width: 100%;
    
    padding: 1%;
    margin-left:20px;

}

.content {
    display: block;
    width: 100%;
    background: #4b0000;
    padding: 1%;

}

.videosettings{
   width: 100%;
   height:817px;
}

#outer{
    width:100%;
    display:block;
    text-align:center;
    position:relative;
    overflow: hidden;
   
    height:810px;
     background: rgba(0,0,0,0.3);
     opacity:0.3;
  -webkit-transition:.4s background ease;
    -moz-transition:.4s background ease;
    -o-transition:.4s background ease;
    transition:.4s background ease;
}
    #home-top-video{
        left:0%;
        top:0%;
       /* height:100%;*/
        width:100%;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    #home-text{
       
        width:100%;
        position: absolute;
        z-index: 0;
        color:white
    }

    .smallwrites {
    background: #ffffff;
     /*margin: 5px 100px 5px 100px;*/
   
   
}

.midcolcont{
     background: rgba(0,0,0,0.3);
     display:flex;
}


.colcont{
    display:flex;
    background:olivedrab;
    color:#fff;
}

.cont{
    padding: 10px;
}

.col-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.cell-cont{
    width: 29%;
    margin-bottom: 2%;
     margin-top: 2%;
     margin-left:2%;
      margin-right:2%;
    color:#fff;
    border:3px solid white;
   
}

.col{
    list-style-type: none;
    color:#fff;
}


h1,
nav {
    display: inline-block;
}

h1 {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 23%;
    color: white;
    font-size: 200%;
    margin-left: 2 rem;
    margin-left: 2%;
   
}

.heading{
     width: 23%;
    color: white;
     margin-left: 2 rem;
    margin-left: 2%;
}

nav {
    float: right;
    margin-right: 2%;
    margin-left: 2%;
    padding: 10px;
    margin-top: 0px;
    top: 30;
}

ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    font-size: 100%;
    /*background: #136BE8;*/
    color: #e3e3e3;
    font-weight: bold;
    text-shadow: 0px 0px 500px #000;
    /*box-shadow: 10px 10px 5px #136BE8;*/
    padding: 15px;
    z-index: 1;
}

a:hover {
    color: brown;
    text-shadow: 0px 0px 300px #000;
}

.btndisplay{
    margin-top:4px;
    
}

#register {
    width: 400px;
    
    background: rgba(0, 0, 0, 0.5);
    line-height: 0.5rem;
   
    /* float: left; */
   
    margin-top: 10%;
    /* -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;*/
    box-shadow: 0px 0px 25px white;
    border: 1px solid white;
    text-align: center;
    
    top:0;
    padding-left: 2%;
    padding-right:2%;
    position:absolute;
    
    margin-left: 40%;
    z-index:0;
}


.headingh2{
   color:#4d0000;
   text-align:center;
   padding-top:4%;
   text-transform:uppercase;
   font: bold 52px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px #fe4902, 
                2px 2px #fe4902, 
                3px 3px #fe4902;
}


/*#login h2 {
    background-color: green;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    color: #F5F5F5;
    font-size: 20px;
    padding: 20px 26px;
}*/

#register h2 {
    color: #4b0000;
    padding: 5px;
    /* text-shadow: 0px 0px 14px rgba(255, 255, 255, 1);*/
    line-height: 70px;
}

#register fieldset {
    /*background-color: #F5F5F5;*/
    width: 100%;
    line-height: 2rem;
    margin-bottom: 2rem;
}

#register fieldset p {
    color: black;
    margin-bottom: 14px;
    font-size: 23px;
    text-align: center;
}

#register fieldset p:last-child {
    margin-bottom: 0;
}

#register fieldset input {
    /* -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
}

#register fieldset input[type="text"],
#register fieldset input[type="password"],
fieldset input[type="email"] {
    background-color: #eee;
    color: #777;
    font-size: 13px;
    height: 40px;
   width: 350px;
    text-align: center;
}

.registerbtn {
    background-color: #136BE8;
    color: white;
    width: 250px;
    height: 40px;
    font-weight: bold;
    /*  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
}

.accnt {
    margin-top: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    /*background: rgba(0, 0, 0, 0.5);*/
    color: white;
    font-weight: bolder;
    /*text-shadow: 0px 0px 14px rgba(255, 255, 255, 1);*/
}

.accnta {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

#login {
    width: 300px;
   background: rgba(0,0,0,0.5);
    line-height: 0.5rem;
    margin-left: auto;
    margin-top: 1%;
    /* float: left; */
    margin-right: auto;
    /*  -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; */
    /* box-shadow: 0px 0px 25px white;*/
    border: 1px solid white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}


/*#login h2 {
    background-color: green;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    color: #F5F5F5;
    font-size: 20px;
    padding: 20px 26px;
}*/

#login h2 {
    color: white;
    padding: 5px;
    /* text-shadow: 0px 0px 14px rgba(255, 255, 255, 1);*/
    line-height: 70px;
}

#login fieldset {
    /*background-color: #F5F5F5;*/
    width: 100%;
    line-height: 2rem;
    margin-bottom: 2rem;
}

#login fieldset p {
    color: black;
    margin-bottom: 14px;
    font-size: 23px;
    text-align: center;
}

#login fieldset p:last-child {
    margin-bottom: 0;
}

#login fieldset input {
    /* -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
}

#login fieldset input[type="text"],
#login fieldset input[type="password"],
fieldset input[type="email"] {
    background-color: #eee;
    color: #777;
    font-size: 13px;
    height: 40px;
    width: 250px;
    text-align: center;
}

.loginbtn {
    background-color: #136BE8;
    color: white;
    padding: 4px 10px;
    width: 250px;
    height: 40px;
    font-weight: bold;
    /*  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
}

#contact {
    width: 400px;
    /*background: #fafafb;*/
    background: rgba(0, 0, 0, 0.8);
    line-height: 1.5rem;
    margin-left: auto;
    /* float: left; */
    margin-right: auto;
    margin-top: 10%;
    /*   -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;*/
    /* text-shadow: 200px 200px 204px rgba(255, 255, 255, 104);
    box-shadow: 10px 10px 5px #136BE8;*/
    border: 1px solid #abadac;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}

#contact p {
    color: white;
    text-align: center;
    padding: 5px;
    /* box-shadow: 10px 10px 5px #136BE8;*/
}

#contact a {
    color: white;
    padding: 5px;
    /* box-shadow: 10px 10px 5px #136BE8;*/
}

#contact a:hover {
    color: red;
    padding: 5px;
    /* box-shadow: 10px 10px 5px #136BE8;*/
}


/*#smallwriteUp {
    background: #e0e0e0;
    width: 60%;
    margin-left: auto;
   
    margin-right: auto;
    margin-top: 10%;
   
    border: 1px solid white;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}*/

#smallwriteUp {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 18px;
    line-height: 2rem;
    /*transition: border 0.4s, color 0.4s;*/
    background: rgba(0, 0, 0, 0.8);
    /*background: #fff;*/
    border: 1px solid #abadac;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10%;
    /* text-shadow: 200px 200px 204px rgba(255, 255, 255, 104);
    box-shadow: 10px 10px 5px #136BE8;*/
}



.difflogins{
     /*background: rgba(0, 0, 0, 0.5);*/
  
   
    text-align:left;
    left:0%;
    top:0;
    height:100%;
    width:100%;
   
   /* position: absolute;
    z-index: 0;*/
    color:white;
      background: rgba(0, 0, 0, 0.5) ;
     opacity:0.6;
  -webkit-transition:.4s background ease;
    -moz-transition:.4s background ease;
    -o-transition:.4s background ease;
    transition:.4s background ease;
 
}

.bgimg{
    background: rgba(0, 0, 0, 0.5) url('../images/imgchg.jpg') no-repeat 0px bottom;
     height:1000px;
    width:100%;
}

.pwording{
   
    width:500px;
    margin-left:20px;
   line-height: 2em;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    height:300px;
    text-align: center;


}

.pwording p{
    position:relative;
    text-transform: uppercase;
    text-align:center;
    width:350px;
    top:55px;
   left:50px;
  
   color:#4d0000;
}



.loginconf{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 1.2rem;
      text-align: center;
      padding:0.5em;
    

}

.loginconf a{
    display:block;
}

.cancel1btn {
    background-color: #136BE8;
    color: white;
    padding: 4px 10px;
    width: 120px;
    height: 40px;
    font-weight: bold;
}

.login1btn {
    /*background-color:#d4a2a2;*/
    background-color:#ffffff;
    border:1px solid white;
    color: #4b0000;
    padding: 4px 10px;
    width: 120px;
    height: 40px;
    font-weight: bold;
    /*  -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
}

.footer {
    background:#4b0000;
    height: 100%;
    width:100%;
   
}

.footer p {
    text-align: center;
    padding: 20px;
    color: #fff;
}


}


/* desktop first approach = (the website was built initialy for desktop and will be adapted for mobiles)
Even if this approach requires more work in the long run, it is used often in order to develop and Minimum Voable Product with the least amount of initial investment
*/


/*ipad lanscape / small laptop*/

@media only screen and (max-width: 1024px) {
    /* acting like an IF statement, the media query is a set of conditions in which the containing css will be applied
    for example the statament above says: IF the media on which this CSS is going to used is SCREEN (Mobiles, Tables, Laptops, Desktops or Projectors) and the maximum resolution of that device is 1024px, THEN apply the body color blue for all the text
    */
    body {
        color: blue;
    }
}


/*ipad potrait*/

@media only screen and (max-width: 768px) {
    body {
        color: red;
    }

    .headingh2{
   color:white;
   text-align:center;
   padding-top:4%;
   text-transform:uppercase;
   font: bold 24px Helvetica, Arial, Sans-Serif;
   
}

.bgimg{
    background: rgba(0, 0, 0, 0.5) url('../images/imgchg.jpg') no-repeat 0px bottom;
     height:400px;
    width:100%;
}

.pwording{
   
    width:200px;
    margin-left:20px;
   line-height: 2em;
    background: rgba(0,0,0,0.3);
    border-radius: 0%;
    height:210px;
    text-align: center;


}

.pwording p{
    position:relative;
    text-transform: uppercase;
    text-align:left;
    width:200px;
    top:0px;
   left:2px;
   font-size: 11px;
   color:white;
}



     .cell-cont {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    color: #fff;
    border: 3px solid white;
    }

    #outer{
    width:100%;
    display:block;
    text-align:center;
    position:relative;
    overflow: hidden;
   
    height:810px;
     background: #2d0000;
     opacity:0.3;
  -webkit-transition:.4s background ease;
    -moz-transition:.4s background ease;
    -o-transition:.4s background ease;
    transition:.4s background ease;
}

#register {
    width: 300px;
    
    background: rgba(0, 0, 0, 0.5);
    line-height: 0.5rem;
   
    /* float: left; */
   
    margin-top: 30%;
    /* -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;*/
    box-shadow: 0px 0px 25px white;
    border: 1px solid white;
    text-align: center;
    
    top:0;
    padding-left: 15px;
    padding-right:15px;
   
    
   margin-left: 0%;
    
}
#register fieldset input[type="text"],
#register fieldset input[type="password"],
fieldset input[type="email"] {
    background-color: #eee;
    color: #777;
    font-size: 13px;
    height: 40px;
   width: 250px;
    text-align: center;
}
}


/*iPhone landscape*/

@media only screen and (max-width: 480px) {
    body {
        color: green;
    }

   
}


/*iPhone portrait*/

@media only screen and (max-width: 320px) {
    body {
        color: purple;
    }
}

