


#loginSection{
	width:70%;
	height:70%;
	margin-left:14%;
	margin-top:4%;
	margin-bottom:4%;
	border:4px solid #557f8e;
	background-color: white;
}


.innerwrapper{
	text-align:left;
	left:0;
	top:0;
	width:100%;
	height:100%;
}

.bgimg{
    background: rgba(0, 0, 0, 0.5) url('../images/imgchg.jpg') no-repeat 0px bottom;
    height:100%;
    width:100%;
}

.headingh2{
   color:white;
   text-align:center;
   text-transform:uppercase;
   font: bold 48px Helvetica, Arial, Sans-Serif;
}


.pwording{
    width:25%;
    margin-left:30px;
    line-height: 2em;
    background: rgba(0,0,0,0.6);
    height:40%;
    text-align: center;
}




.pwording p{
   position:relative;
   text-transform: uppercase;
   text-align:left;
   width:260px;
   top:50;
   left:50px;
   font-size: 11px;
   color:ghostwhite;
   font-weight: 800;
}

.midcolcont{
	background:#557f8e;
     /*background: rgba(0,0,0,0.3);*/
     display:flex;
}


.colcont{
    display:flex;
    background:olivedrab;
    color:#fff;
}

.cont{
    padding: 10px;
}

.col-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.cell-cont{
    width: 29%;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left:2%;
    margin-right:2%;
    color:#fff;
    border:3px solid white;
}

.col{
    list-style-type: none;
    color:#fff;
}

#content{
	background:white;
	display:block;
	width:100%;
	height:40%;
	color:black;
	border:10px solid #557f8e;

}

#content h4{
	text-align:left;	
	color:black;
	margin-left: 2%;
}

#content p{
	word-wrap:normal;
	text-align:left;
	color:black;
	margin-left: 5%;
}


#outer{
	width:100%;
	height:100%;
	background:#557f8e;
}

#home-top-video{
	width:100%;
	height:100%;
	background:#557f8e;
	margin-bottom:2%;
	border:3px solid #557f8e;
}



