* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'OpenSansSemiBold';
     font-family:"Open Sans", sans-serif;
     font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

body {
    background-color: #e9ecef;
}

#page {
    margin: 0 auto;
    position: relative;  
    height:100%;
}

header {
    background:#4b0000;
    width:100%;
    border-bottom: 1px solid white;
    color:#fff; 
    height:120px;
     font-size: 200%;
}

 #svg {
  float:left;
  width:50%;
  margin:20px auto;
}

 #heading{
  float:right;
   margin:20px auto;
   margin-right:10px;
  
}



.btn-info,.btn-dark{
   background-color:#4b0000;
}

.btn-info:hover,.btn-dark:hover{
   background-color:#d4a2a2;
   color:#4b0000;
}



.topheading{
   width:100%;
}

.homebtn {
  float:left;
   width:70%;
  padding:0;
  margin-left:10px;
}

.navbtn{
  float:right;
  
  margin-right:10px;
}

.rowpage{
  width:100%;
  height:100%;
}

.btn1{
    margin-left:10px;
    margin-bottom:10px;
    width:100%;
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}



#userdetails-form {
    width: 400px;
    background: rgb(75, 0, 130,0.3);
    line-height:1.5rem;
    margin-left: auto;
    margin-top: 3%;
    /* float: left; */
    margin-right: auto;
    /*  -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; */
    /* box-shadow: 0px 0px 25px white;*/
    border: 1px solid white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.affirmations{
    background: rgba(270, 400, 300, 0.5);
    line-height:1.5rem;
}

.result{
  background: rgba(220, 400, 300, 0.5);
    line-height:1.5rem;
    width:500px;
    height:300px;
    text-align:center;
    vertical-align:center;
        margin-left:300px;
     margin-right:300px;
     border: 1px solid white;


}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}


#oprahaffirmations{
  display:none;
}

ul li{
  list-style-type: none;
}
.colcont{
    display:flex;
    background:rgb(75, 0, 130);
    border:1px solid white;
    color:#fff;
}

.col-container {
  justify-content: space-between;
  flex-wrap: wrap;
}

.cell-cont{
    width: 29%;
    margin-bottom: 2%;
     margin-top: 2%;
     margin-left:2%;
      margin-right:2%;
    color:#fff;
    border:3px solid white;
   
}

.cont{
    padding: 10px;
}

.footer {
    background:#4b0000;
    width:100%;
    height:120px;
   
}

.footer p {
    text-align: center;
    padding: 20px;
    color: #fff;
}



@media only screen and (max-width: 796px) {

 #svg {
  float:left;
  width:50%;
  margin:20px auto;
  font-size: 12px;
  display:none;
    }

   #heading{
  float:left;
   margin:5px auto;
   
    }  

  #heading h1{
    font-size: 24px;
  }  

  #heading p{
    font-size: 14px;
    margin-bottom:2px;
  }  

    .homebtn {
  float:left;
   width:20%;
  padding:0;
  margin-left:10px;
}

.navbtn{
  float:right;
  
  margin-right:10px;
} 

  }