* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'OpenSansSemiBold';
     font-family:"Open Sans", sans-serif;
     font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #e9ecef;
}

#page {
    margin: 0 auto;
    position: relative;  
    height:100%;
}

header {
    background:#4b0000;
    width:100%;
    border-bottom: 1px solid white;
    color:#fff; 
    height:120px;
     font-size: 200%;
}

 #svg {
  float:left;
  width:50%;
  margin:20px auto;
}

 #heading{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  float:right;
   margin:20px auto;
   margin-right:10px;
  
}



.btn-info,.btn-dark{
   background-color:#4b0000;
}

.btn-info:hover,.btn-dark:hover{
   background-color:#d4a2a2;
   color:#4b0000;
}

.headingContent h1{
  text-align:center;
}

.spiritualBooksInnerWrapper{
    margin-left:4%;
    margin-top:2%;
    padding:0;
    width:80%;
  

}

.contentDescription{
  margin-left:20px;
  padding:50px;
  font-size:20px;
}

.topheading{
   width:100%;
}

.homebtn {
  float:left;
   width:70%;
  padding:0;
  margin-left:10px;
}

a.homebutton{
  width:120px;
  height:50px;
  margin-left:2%;
  margin-top:10px;
  color:white;
  text-decoration: none;
}



a.menubutton{
   width:10%;
   margin-left:2%;
  color:white;
  text-decoration: none;
  font-size:20px;
}

.headingContent{
  margin-left:auto; 
  margin-right:auto;
  text-align:center;
}

a.linkbutton{
  width:150px;
  height:80px;
  padding:4%;
  margin-left:2%;
  margin-top:10px;
  color:black;
  line-height:2.5;
  text-decoration: none;
}

a.logout{
font-size:20px;
color:white;
text-decoration: none;
}

a.menubutton:hover,a.logout:hover, a.homebutton:hover{
  background-color:#d4a2a2;
   color:#4b0000;
   text-decoration: none;
}

a.linkbutton:hover{
   background-color:#d4a2a2;
   color:#4b0000;
   text-decoration: none;
}

.dailydiary{
  margin:auto;
  height:auto;
  margin-left:20%;
  width:80%;
  background:#9CBA7F;
}

.diaryContent{
  width:80%;
  height:60%;
}



.spiritualTalkContent{
  margin-left:auto; 
  margin-right:auto;
  text-align:center;
  font-size: 34px;
  font-weight:800;
}

.navbtn{
  float:right;
  
  margin-right:10px;
}

.rowpage{
  width:100%;
  height:100%;
}

.btn1{
    margin-left:10px;
    margin-bottom:10px;
    width:100%;
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

iframe{
    overflow:hidden;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top:25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:60%;
}

.userdayevents{
  width: 100%;
}

.userdetails-form {
    width: 100%;
   background: white;
    color:black;
    line-height:1.5rem;
    margin-left: auto;
    margin-top: 3%;
    /* float: left; */
    margin-right: 3%;
    /*  -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; */
    /* box-shadow: 0px 0px 25px white;*/
    border: 1px solid green;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    background:white;
}

.affirmations{
    background: rgba(270, 400, 300, 0.5);
    line-height:1.5rem;
}

.result{
  background: ghostwhite;
    line-height:1.5rem;
    width:500px;
    height:300px;
    text-align:center;
    vertical-align:center;
    margin-left:300px;
    margin-right:300px;
    border: 1px solid white;
}

.form-element {  
    width: 100%;
    height:300px;
    font-size: 1rem;
    line-height: 1.5;
    color: black;
    background-color: white;
    border:1px solid green;
}

.diarylabel{
  width:100%;
  color:black;
  font-family: 'Fondamento', cursive;
  font-size:25px;
}

.datelabel{
  float:right;
}

.btn-info, .btn-dark {
    background-color: white;
    color: black;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #575ed8;
}


#oprahaffirmations{
  display:none;
}

ul li{
  list-style-type: none;
}
.colcont{
    display:flex;
    /*background:rgb(75, 0, 130);*/
    background-color:white;
    color:black;
    border:1px solid white;
    color:#fff;
}

.col-container {
  justify-content: space-between;
  flex-wrap: wrap;
   color:black;
}

.cell-cont{
    width: 29%;
    margin-bottom: 2%;
     margin-top: 2%;
     margin-left:2%;
      margin-right:2%;
    color:black;
    border:3px solid black;
   
}

.cont{
    padding: 10px;
}

.footerContent{
  position:fixed;
  bottom:0;
  background-color:#4b0000;
  width:100%;
  color:ghostwhite;
  height:2%;
  margin-top:4%;
}


@media only screen and (max-width: 796px) {

 #svg {
  float:left;
  width:50%;
  margin:20px auto;
  font-size: 12px;
  display:none;
    }

   #heading{
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  float:left;
   margin:5px auto;
   
    }  

  #heading h1{
    font-size: 24px;
  }  

  #heading p{
    font-size: 14px;
    margin-bottom:2px;
  }  

  .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top:25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:340px;
}

    .homebtn {
  float:left;
   width:20%;
  padding:0;
  margin-left:10px;
}

.navbtn{
  float:right;
  
  margin-right:10px;
} 


  }